In [1]:
import pandas as pd
import random
df_card=pd.read_excel("card.xlsx")
df_card.head()

,car_dob,car_uid,car_code,car_cvc2,car_gend,car_natu,car_numb,car_phot,car_token,car_trac1,...,car_rene_new_prep_date,car_rene_old_expi_date,car_repl_new_card_numb,car_repl_new_effe_date,car_repl_new_expi_date,car_repl_new_prep_date,car_repl_old_expi_date,car_with_card_prog_data,car_card_expr_deli_fee_code,updated_at
0,NaN,NaN,590314,NaN,Male,NaN,4235590007805459,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:03:07.892
1,NaN,NaN,627313,NaN,Male,NaN,4235590009725739,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:03:07.892
2,NaN,NaN,641547,NaN,Male,NaN,4235590009196568,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:03:07.892
3,NaN,NaN,657880,NaN,Male,NaN,4235590004467345,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:03:07.892
4,NaN,NaN,663940,NaN,Male,NaN,4235599990588527,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:03:07.892

In [4]:
df_card['car_numb']=df_card['car_numb'].astype(str).apply(lambda x: '123456' +x[6:])

In [5]:
df_card.head()

,car_dob,car_uid,car_code,car_cvc2,car_gend,car_natu,car_numb,car_phot,car_token,car_trac1,...,car_rene_new_prep_date,car_rene_old_expi_date,car_repl_new_card_numb,car_repl_new_effe_date,car_repl_new_expi_date,car_repl_new_prep_date,car_repl_old_expi_date,car_with_card_prog_data,car_card_expr_deli_fee_code,updated_at
0,NaN,NaN,590314,NaN,Male,NaN,1234560007805459,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:03:07.892
1,NaN,NaN,627313,NaN,Male,NaN,1234560009725739,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:03:07.892
2,NaN,NaN,641547,NaN,Male,NaN,1234560009196568,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:03:07.892
3,NaN,NaN,657880,NaN,Male,NaN,1234560004467345,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:03:07.892
4,NaN,NaN,663940,NaN,Male,NaN,1234569990588527,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:03:07.892

In [ ]:
df_card.to