In [1]:
import pandas as pd
df_la_acct_mast= pd.read_excel("la_acct_mast_table.xlsx")
df_la_acct_mast.head()

,acid,ts_cnt,bank_id,del_flg,dis_amt,op_acid,eir_rate,acct_type,dealer_id,ei_method,...,penal_int_grace_perd_days,penal_int_grace_perd_mths,crystallisation_time_stamp,auto_reshdl_after_hldy_perd,hldy_prd_frm_first_disb_flg,int_rate_based_on_sanct_lim,first_drdn_val_date_int_rate,instlmnt_grace_perd_term_flg,accr_penal_int_unrealized_amt,updated_at
0,B95756817,225,1,N,4500000.0,B95745502,0,NaN,NaN,R,...,0.0,0.0,NaN,H,N,N,,,0,2024-08-29 04:59:57.138
1,707601829,139,1,N,4000000.0,704009981,0,NaN,NaN,R,...,0.0,0.0,NaN,H,N,N,,,0,2024-08-29 04:59:57.138
2,H88761015,61,1,N,3400000.0,H88727279,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138
3,D88097098,47,1,N,1500000.0,D86314215,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138
4,D88462761,66,1,N,1500000.0,D86314215,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138

In [2]:
df_gam=pd.read_csv("../general_acct_mast_table/acid_foracid_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,Q39620558,AC10370877,DLNIND1406504,2635752944296001,FA9627239668220084,PAN668645879,272396682200,Humacanta Bipin Thapa
1,Y110180600,AC41672289,DLNIND4211643,3414659520992004,FA3302344775994664,PAN697945863,23447759946,Sriti Kumari Thapa
2,O93531058,AC73584145,DLNIND4211643,O987952099252401,FA5553585851915269,PAN697945863,535858519152,Sriti Kumari Thapa
3,32559774,AC12345718,DLNLEG9334212,3241157797524004,FA2582732553674743,PAN353089449,827325536747,PALPA HEALTHCARE PVT. LTD.
4,889280082,AC47235600,DLNLEG6576494,0884459092002067,FA7171012596574289,PAN813377590,710125965742,NaN

In [3]:
df_result = pd.merge(df_la_acct_mast, df_gam, how='left', on='acid',suffixes=('_p', '_a'))
df_result.head(10)

,acid,ts_cnt,bank_id,del_flg,dis_amt,op_acid,eir_rate,acct_type,dealer_id,ei_method,...,instlmnt_grace_perd_term_flg,accr_penal_int_unrealized_amt,updated_at,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,B95756817,225,1,N,4500000.00,B95745502,0,NaN,NaN,R,...,,0,2024-08-29 04:59:57.138,AC70260934,DLNIND9084977,119TL51006372002,FA7706503953717935,PAN825001101,65039537179,Sanyukta Saraswati Bhattarai
1,707601829,139,1,N,4000000.00,704009981,0,NaN,NaN,R,...,,0,2024-08-29 04:59:57.138,AC50644502,DLNIND3986994,070TLN0134245003,FA3076621615379750,PAN141132761,766216153797,Asphota Maya Shrestha
2,H88761015,61,1,N,3400000.00,H88727279,0,NaN,NaN,,...,,0,2024-08-29 04:59:57.138,AC36584493,DLNLEG2158354,178DLN0082152003,FA6425348293162336,PAN281141916,253482931623,NaN
3,D88097098,47,1,N,1500000.00,D86314215,0,NaN,NaN,,...,,0,2024-08-29 04:59:57.138,AC29494536,DLNIND5644007,138DL50771966006,FA2104070747855299,PAN695591077,40707478552,Vawesh Lal Bhandari
4,D88462761,66,1,N,1500000.00,D86314215,0,NaN,NaN,,...,,0,2024-08-29 04:59:57.138,AC58589137,DLNIND5644007,138DLN0771966007,FA4518607415484979,PAN695591077,186074154849,Vawesh Lal Bhandari
5,V78267731,68,1,N,4700000.00,V75502574,0,NaN,NaN,,...,,0,2024-08-29 04:59:57.138,AC93635799,DLNLEG5646672,317DL50033937004,FA7956560516791884,PAN280369345,565605167918,NaN
6,1510412040,12,1,N,4059.75,153396015,0,NaN,NaN,,...,,0,2024-08-29 04:59:57.138,AC71653204,DLNIND9898224,015DLN5189814007,FA7712618756803893,PAN376421978,126187568038,Srista Laxmi Khadka
7,385811456,257,1,N,2000000.00,385749998,0,NaN,NaN,R,...,,0,2024-08-29 04:59:57.138,AC33970810,DLNIND5013653,038TL51009724002,FA2300549696110485,PAN106648673,5496961104,Mikma Hari Lama
8,223691552,334,1,N,1788000.00,22562003,0,NaN,NaN,R,...,,0,2024-08-29 04:59:57.138,AC36388884,DLNLEG3727146,22AL213314252401,FA5600866079837320,PAN484574196,8660798373,BIRATNAGAR AUTOMOBILES PVT. LTD.
9,D89891226,32,1,N,1500000.00,D86314215,0,NaN,NaN,,...,,0,2024-08-29 04:59:57.138,AC35948439,DLNIND5644007,138DLN0771966008,FA4620871053501800,PAN695591077,208710535018,Vawesh Lal Bhandari

In [4]:
print(df_la_acct_mast.shape)
print(df_result.shape)

(721, 231)
(721, 238)

In [5]:
df_la_acct_mast['acid']=df_result['acid_t'].values
df_la_acct_mast.head()

,acid,ts_cnt,bank_id,del_flg,dis_amt,op_acid,eir_rate,acct_type,dealer_id,ei_method,...,penal_int_grace_perd_days,penal_int_grace_perd_mths,crystallisation_time_stamp,auto_reshdl_after_hldy_perd,hldy_prd_frm_first_disb_flg,int_rate_based_on_sanct_lim,first_drdn_val_date_int_rate,instlmnt_grace_perd_term_flg,accr_penal_int_unrealized_amt,updated_at
0,AC70260934,225,1,N,4500000.0,B95745502,0,NaN,NaN,R,...,0.0,0.0,NaN,H,N,N,,,0,2024-08-29 04:59:57.138
1,AC50644502,139,1,N,4000000.0,704009981,0,NaN,NaN,R,...,0.0,0.0,NaN,H,N,N,,,0,2024-08-29 04:59:57.138
2,AC36584493,61,1,N,3400000.0,H88727279,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138
3,AC29494536,47,1,N,1500000.0,D86314215,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138
4,AC58589137,66,1,N,1500000.0,D86314215,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138

In [6]:
df_la_acct_mast.to_csv("la_acct_mast_table_masked.csv",index=False)