In [1]:
import pandas as pd
dc_mast_main_table= pd.read_excel("dc_mast_main_table.xlsx")
# dc_mast_main_table = dc_mast_main_table.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)

dc_mast_main_table.head()

,rate,sol_id,ts_cnt,bank_id,del_flg,dc_b2kid,insu_amt,insu_num,ratecode,date_clsd,...,interest_nobill_util_amt,interest_reinstament_amt,mtmd_margin_referred_flg,murbaha_third_party_acid,restrict_on_oth_bank_flg,upft_reinst_liab_revl_dc,interest_nobill_fruct_amt,carved_interest_addtnl_amt,goods_for_third_party_flag,updated_at
0,79.2000,4,14,1,N,DC09468,0,NaN,SEL,2010-09-15T00:00:00.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:13.991
1,79.2000,4,14,1,N,DC09469,0,NaN,SEL,2010-09-15T00:00:00.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:13.991
2,1.6015,4,13,1,N,DC101348,0,NaN,SEL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:13.991
3,1.6015,2,21,1,N,DC132767,0,NaN,SEL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:13.991
4,1.6015,2,8,1,N,DC133113,0,NaN,SEL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:13.991

In [2]:
dc_mast_main_table.to_csv("dc_mast_main_table_masked.csv",index=False)