In [2]:
import pandas as pd
df_bankxp_login_acces=pd.read_excel("login_access_channel.xlsx")
df_bankxp_login_acces.head()

,id,active,added_by,added_date,migration_id,login_blocked,login_channel,last_login_date,request_attempt,last_modified_by,login_block_date,login_block_mode,customer_login_id,last_modified_date,login_block_remarks,accessible_channel_id,old_login_access_channel_id,updated_at
0,225,Y,1,"Row(member0=Timestamp('2022-03-20 06:07:12'), ...",NaN,N,NaN,NaN,0,NaN,NaN,NaN,134,NaN,NaN,1,NaN,2024-08-07 07:05:24.452
1,226,Y,1,"Row(member0=Timestamp('2022-03-20 06:07:12'), ...",NaN,N,NaN,NaN,0,NaN,NaN,NaN,134,NaN,NaN,2,NaN,2024-08-07 07:05:24.452
2,227,Y,1,"Row(member0=Timestamp('2022-03-20 06:15:00'), ...",NaN,N,NaN,NaN,0,NaN,NaN,NaN,135,NaN,NaN,1,NaN,2024-08-07 07:05:24.452
3,228,Y,1,"Row(member0=Timestamp('2022-03-20 06:15:00'), ...",NaN,N,NaN,NaN,0,NaN,NaN,NaN,135,NaN,NaN,2,NaN,2024-08-07 07:05:24.452
4,229,Y,1,"Row(member0=Timestamp('2022-03-20 22:32:36'), ...",NaN,N,NaN,NaN,0,NaN,NaN,NaN,136,NaN,NaN,1,NaN,2024-08-07 07:05:24.452

In [4]:
df_bankxp_login_acces.to_csv("bankxp_login_acces_masked.csv",index=False)