In [2]:
import pandas as pd

In [4]:
df_address = pd.read_excel("address.xlsx")
df_address.head()

,_airbyte_ab_id,_airbyte_emitted_at,url,zip,city,name,town,email,faxno,orgid,...,residentialstatus,pagernocountrycode,holdmailinitiatedby,phoneno1countrycode,phoneno2countrycode,address_proof_doc_id,is_address_proof_rcvd,_airbyte_additional_properties,source_file_path,updated_at
0,332f8978-6edc-45ca-b88b-944612a4f29c,2024-08-05 07:02:37.777,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:32:36.973
1,980308d0-a42b-4912-8859-d0b9d334d3d1,2024-08-05 07:02:37.777,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:32:36.973
2,b91e4274-6e52-4b9e-ba84-49d4b250694c,2024-08-05 07:02:37.777,NaN,NaN,NaN,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:32:36.973
3,9b1c3de4-1069-46b3-bbc3-71a9cb162e59,2024-08-05 07:02:37.777,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:32:36.973
4,7ef9c5e7-a154-429e-b521-167d89f29764,2024-08-05 07:02:37.777,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:32:36.973

In [6]:
df_address = df_address.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path"], axis=1)
df_address.head()

,url,zip,city,name,town,email,faxno,orgid,state,telex,...,phoneno2localcode,residentialstatus,pagernocountrycode,holdmailinitiatedby,phoneno1countrycode,phoneno2countrycode,address_proof_doc_id,is_address_proof_rcvd,_airbyte_additional_properties,updated_at
0,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,2024-08-07 06:32:36.973
1,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,2024-08-07 06:32:36.973
2,NaN,NaN,NaN,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:32:36.973
3,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,NUWAK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:32:36.973
4,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,NUWAK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:32:36.973

In [132]:
df_address["orgkey"]

0      C00004457
1      C00004457
2      C00004457
3      R00134245
4      R00134245
         ...
382    R01786441
383    R01786441
384    R01786442
385    R01786442
386    R01786442
Name: orgkey, Length: 387, dtype: object

In [100]:
print(len(df_address))

387

In [102]:
df = pd.read_csv("final_table.csv")
df.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,marital_status,education,...,sencitizenconversionflag,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at
0,DLNIND7725854,R01516157,Prashanta,Babu,Thapa,1966-05-06T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
1,DLNIND7733479,R01651971,Prashant,NaN,Nepal,1993-02-28T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
2,DLNIND7579682,R09396490,Kabita,NaN,Bhattarai,2013-01-09T00:00:00.000000,INDIVIDUAL,F,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
3,DLNLEG2540588,R22132679,KAILASH PRINTING PRESS PVT. LTD.,NaN,NaN,1900-01-01T00:00:00.000000,LEGAL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
4,DLNIND4399480,R00580783,sandil,NaN,Tandukar,2000-01-01T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6

In [104]:
df.columns

Index(['cif_id', 'orgkey', 'cust_first_name', 'cust_middle_name',
       'cust_last_name', 'cust_dob', 'cust_type', 'gender', 'marital_status',
       'education',
       ...
       'sencitizenconversionflag', 'creditbureauscorevalidity',
       'foreignacctaxreportingreq', 'foreigntaxreportingstatus',
       'preferred_mobile_alert_no', 'credithistoryrequestedflag',
       'foreigntaxreportingcountry', 'customer_level_provisioning',
       'preferred_mobile_alert_type', 'updated_at'],
      dtype='object', length=490)

In [106]:
print(len(df.columns))

490

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,marital_status,education,...,sencitizenconversionflag,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at
0,DLNIND7725854,R01516157,Prashanta,Babu,Thapa,1966-05-06T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
1,DLNIND7733479,R01651971,Prashant,NaN,Nepal,1993-02-28T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
2,DLNIND7579682,R09396490,Kabita,NaN,Bhattarai,2013-01-09T00:00:00.000000,INDIVIDUAL,F,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
3,DLNLEG2540588,R22132679,KAILASH PRINTING PRESS PVT. LTD.,NaN,NaN,1900-01-01T00:00:00.000000,LEGAL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
4,DLNIND4399480,R00580783,sandil,NaN,Tandukar,2000-01-01T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6

In [114]:
result_df = pd.merge(df_address, df, how='left', on='orgkey',suffixes=('_add', '_acc'))
result_df.head()

,url_add,zip_add,city_add,name_add,town,email_add,faxno,orgid,state_add,telex,...,sencitizenconversionflag,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at_acc
0,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
1,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
2,NaN,NaN,NaN,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
3,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,NUWAK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6
4,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,NUWAK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29:18.6

In [140]:
df_address[['orgkey','name']] = result_df[['cif_id','cust_first_name']]
df_address[['orgkey','name']].head(30)

           orgkey                             name
0   DLNLEG2622635          KHOTANG FOODS PVT. LTD.
1   DLNLEG2622635          KHOTANG FOODS PVT. LTD.
2   DLNLEG2622635          KHOTANG FOODS PVT. LTD.
3   DLNIND7541103                            Nawal
4   DLNIND7541103                            Nawal
5   DLNIND7541103                            Nawal
6   DLNIND5055086                      Hrisheekesh
7   DLNIND5055086                      Hrisheekesh
8   DLNIND5055086                      Hrisheekesh
9   DLNIND2688816                          Prabina
10  DLNIND2688816                          Prabina
11  DLNIND2688816                          Prabina
12  DLNLEG8912000      TAMOR ELECTRONICS PVT. LTD.
13  DLNLEG8912000      TAMOR ELECTRONICS PVT. LTD.
14  DLNLEG8912000      TAMOR ELECTRONICS PVT. LTD.
15  DLNIND2861284                           Dipika
16  DLNIND2861284                           Dipika
17  DLNIND2861284                           Dipika
18  DLNLEG3514229  PALPA PHARMACEUTICALS PVT. LTD.
19  DLNLEG3514229  PALPA PHARMACEUTICALS PVT. LTD.
20  DLNLEG3514229  PALPA PHARMACEUTICALS PVT. LTD.
21  DLNIND7627183                           Bhawna
22  DLNIND7627183                           Bhawna
23  DLNIND7627183                           Bhawna
24  DLNLEG7028504    SARLAHI ENGINEERING PVT. LTD.
25  DLNLEG7028504    SARLAHI ENGINEERING PVT. LTD.
26  DLNLEG7028504    SARLAHI ENGINEERING PVT. LTD.
27  DLNLEG8714073        LUMBINI TRAVELS PVT. LTD.
28  DLNLEG8714073        LUMBINI TRAVELS PVT. LTD.
29  DLNLEG8714073        LUMBINI TRAVELS PVT. LTD.

In [120]:
new_data = result_df[['cif_id', 'email_acc'
]]\
            .rename(columns={
                "cif_id":"orgkey",
                "email_acc": "email",

            })
new_data.head()

          orgkey                        email
0  DLNLEG2622635  khotangfoods237@outlook.com
1  DLNLEG2622635  khotangfoods237@outlook.com
2  DLNLEG2622635  khotangfoods237@outlook.com
3  DLNIND7541103           nawal148@gmail.com
4  DLNIND7541103           nawal148@gmail.com

In [118]:
print(len(new_data))

387