In [10]:
from sqlalchemy import create_engine
import pandas as pd

# Step 1: Read Excel file
  # Replace with your file path

# Step 2: Create SQLAlchemy engine
engine = create_engine('postgresql+psycopg2://postgres:prashanta@localhost:5432/original')

# Step 3: Dump data into PostgreSQL (use 'replace', 'append', or 'fail')
df.to_sql(
    'phoneemail',          # Table name
    engine,                # SQLAlchemy engine
    if_exists='replace',   # Options: 'fail', 'replace', 'append'
    index=False            # Skip writing DataFrame index
)

print("Data successfully exported to PostgreSQL!")

Data successfully exported to PostgreSQL!

In [14]:

conn = psycopg2.connect(
    dbname="original.crm_final",
    user="postgres",
    password="prashanta",
    host="localhost",
    port="5432"
)
# SQL query to fetch data
query = "SELECT * FROM account_customer;"

df_acccount = pd.read_sql_query(query, conn)


conn.close()

df_acccount.head()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_24600\2110470066.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_acccount = pd.read_sql_query(query, conn)

,cif_id,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,education,pan,email,constitution_code,...,cust_hlth,staffemployeeid,preferredname,blacklisted,gender,groupid_code,preferredphone,primary_sol_id.1,marital_status,riskrating
0,DLNIND9508923,Neeti,Maya,Magar,1966-05-06T00:00:00.000000,INDIVIDUAL,None,NaN,neeti873@gmail.com,INDIV,...,None,None,JIBAN BAHADUR,N,F,None,+977-9842108230,90,True,LRISK
1,DLNIND1647243,Aparajita,Maya,Tamang,1993-02-28T00:00:00.000000,INDIVIDUAL,None,NaN,aparajita169@gmail.com,INDIV,...,None,None,BINOD,N,F,None,+977-9845372099,26,True,LRISK
2,DLNIND8284039,Nishar,Laxmi,Thapa,2013-01-09T00:00:00.000000,INDIVIDUAL,None,NaN,nishar625@gmail.com,INDIV,...,NORMA,None,AJAY BABU SHRESTHA,N,F,NGRP,+977-9811576474,09,True,LRISK
3,DLNLEG6645569,KAILASH PRINTING PRESS PVT. LTD.,None,None,1900-01-01T00:00:00.000000,LEGAL,None,NaN,kailashprintingpress849@outlook.com,PRIVA,...,None,None,None,None,None,NGRP,+977-9839528275,22,None,LRISK
4,DLNIND5790376,Smit,Bishnu,Maharjan,2000-01-01T00:00:00.000000,INDIVIDUAL,None,NaN,smit213@gmail.com,INDIV,...,None,None,BBSM,N,M,None,+977-9837534579,S4,True,LRISK

In [16]:
df_phoneemail = pd.read_excel("phoneemail.xlsx")
df_phoneemail.head()

,_airbyte_ab_id,_airbyte_emitted_at,url,date1,date2,date3,email,orgid,orgkey,tmdate,...,noncustomerid,preferredflag,workextension,phoneemailtype,phonenocitycode,phonenolocalcode,phonenocountrycode,_airbyte_additional_properties,source_file_path,updated_at
0,445c20d7-6fca-4156-8da1-d935a8d83e3e,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R90504419,2022-12-23T19:20:07,...,NaN,Y,NaN,COMMPH1,NaN,0.000000e+00,977.0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:40:39.785
1,00e99ff2-d9e9-4f71-bbef-fadd1ad51bdb,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R90504419,2022-12-23T19:20:07,...,NaN,N,NaN,COMMPH2,NaN,9.847837e+09,977.0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:40:39.785
2,ec94bcbc-4bc8-4f67-b2af-5c96b12daf28,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R90504419,2022-12-23T19:20:07,...,NaN,N,NaN,CELLPH,NaN,9.847837e+09,977.0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:40:39.785
3,706ec467-2440-4210-846c-50aa5549f178,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R39227100,2022-12-23T19:20:07,...,NaN,N,NaN,COMMTELEX,NaN,1.372890e+05,977.0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:40:39.785
4,9eb9527b-ba69-45fa-ae41-1c55debd0920,2024-08-05 07:02:37.777,NaN,NaN,NaN,NaN,NaN,NaN,R39227100,2022-12-23T19:20:07,...,NaN,Y,NaN,COMMPH1,NaN,0.000000e+00,977.0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:40:39.785

In [ ]:
df_phoneemail = pd.read_csv("final_table.csv")
df_phoneemail.head()