In [11]:
import pandas as pd
df_entity_interest= pd.read_excel("entity_interest_table.xlsx")
df_entity_interest.head()

,ts_cnt,bank_id,entity_id,lchg_time,rcre_time,crncy_code,diff_exists,entity_type,int_tbl_code,lchg_user_id,...,penalint_interest_amount_dr,penalprnc_accrued_amount_dr,penalprnc_interest_amount_dr,accr_amt_til_int_calc_date_cr,last_compint_booked_amount_dr,last_penprnc_booked_amount_dr,pos_accr_amt_till_int_calc_cr,last_compprnc_booked_amount_dr,last_penalint_booked_amount_dr,updated_at
0,190,1,R85272464,2020-06-03T00:26:19,2020-03-03T11:19:56,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
1,190,1,R85274118,2020-06-03T00:26:19,2020-03-03T17:31:54,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
2,190,1,285285319,2020-06-09T23:35:49,2020-03-10T14:51:43,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
3,190,1,R85286857,2020-06-10T23:27:59,2020-03-11T13:36:02,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
4,190,1,285305444,2020-06-17T21:23:18,2020-03-18T11:47:07,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764

In [5]:
df_gam=pd.read_csv("../general_acct_mast_table/general_acct_mast_table_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,acct_num,acct_name,hashed_no,phone_num,acct_short_name,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,cif_id_t
0,Q39620558,AC83477802,R02944296,2635752944296001,FA3683176010178129,831760101781,Humacanta Prasad Pandey,C1426B129652A7DB20182EAE18980F1B26D3B17E,9829243528,Humacanta,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND9732261
1,Y110180600,AC28966287,O99520992,3414659520992004,FA9480299565595898,802995655958,Sriti Saraswati Limbu,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,NaN,Sriti,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
2,O93531058,AC98636744,O99520992,O987952099252401,FA7106544699531866,65446995318,Sriti Saraswati Limbu,B7BDF9D665BAC86A625C32A5726764FB61251A9A,NaN,Sriti,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
3,32559774,AC72858901,R32157797,3241157797524004,FA1631713350235916,317133502359,PALPA HEALTHCARE PVT. LTD.,FF377859485ED6FCE9A354D30C3A9744DE68421C,4249154/4243464,LUMBINI TRAVELS PVT. LTD.,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG4548358
4,889280082,AC73874192,R09092002,0884459092002067,FA2641279335334283,412793353342,NaN,5654F613A38B19A7130D8A5F217260B16DE305B1,0000000000,NEPAL AIRLINES LTD.,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3617689

In [7]:
df_result = pd.merge(left_on='entity_id', right_on='acid',left=df_entity_interest,right=df_gam,how='left',suffixes=('_p', '_a'))
df_result.head(5)

,ts_cnt_p,bank_id_p,entity_id,lchg_time_p,rcre_time_p,crncy_code_p,diff_exists,entity_type,int_tbl_code,lchg_user_id_p,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at_a,cif_id_t
0,190,1,R85272464,2020-06-03T00:26:19,2020-03-03T11:19:56,NPR,NaN,ACCNT,NaN,FINADMIN,...,NaN,NaN,N,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND4273093
1,190,1,R85274118,2020-06-03T00:26:19,2020-03-03T17:31:54,NPR,NaN,ACCNT,NaN,FINADMIN,...,NaN,NaN,N,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND4273093
2,190,1,285285319,2020-06-09T23:35:49,2020-03-10T14:51:43,NPR,NaN,ACCNT,NaN,FINADMIN,...,NaN,NaN,N,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND2090455
3,190,1,R85286857,2020-06-10T23:27:59,2020-03-11T13:36:02,NPR,NaN,ACCNT,NaN,FINADMIN,...,NaN,NaN,N,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8860773
4,190,1,285305444,2020-06-17T21:23:18,2020-03-18T11:47:07,NPR,NaN,ACCNT,NaN,FINADMIN,...,NaN,NaN,N,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND2090455

In [8]:
print(df_entity_interest.shape)
print(df_result.shape)

(4418, 170)
(4418, 360)

In [9]:
df_entity_interest['entity_id']=df_result['acid_t'].values
df_entity_interest.head()

,ts_cnt,bank_id,entity_id,lchg_time,rcre_time,crncy_code,diff_exists,entity_type,int_tbl_code,lchg_user_id,...,penalprnc_accrued_amount_dr,penalprnc_interest_amount_dr,accr_amt_til_int_calc_date_cr,last_compint_booked_amount_dr,last_penprnc_booked_amount_dr,pos_accr_amt_till_int_calc_cr,last_compprnc_booked_amount_dr,last_penalint_booked_amount_dr,updated_at,acid
0,190,1,R85272464,2020-06-03T00:26:19,2020-03-03T11:19:56,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764,AC24990304
1,190,1,R85274118,2020-06-03T00:26:19,2020-03-03T17:31:54,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764,AC54784013
2,190,1,285285319,2020-06-09T23:35:49,2020-03-10T14:51:43,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764,AC62480368
3,190,1,R85286857,2020-06-10T23:27:59,2020-03-11T13:36:02,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764,AC43814337
4,190,1,285305444,2020-06-17T21:23:18,2020-03-18T11:47:07,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764,AC35478362

In [12]:
df_entity_interest.to_csv("entity_interest_table_masked.csv",index=False)