In [7]:
import pandas as pd

In [8]:
df_eod_acct_bal= pd.read_excel("eod_acct_bal_table.xlsx")
df_eod_acct_bal.head()

,acid,eod_date,tran_date_bal,tran_date_tot_tran,value_date_bal,value_date_tot_tran,end_eod_date,lchg_user_id,lchg_time,rcre_user_id,...,ts_cnt,eab_crncy_code,bank_id,last_pstd_srl_num,last_tran_sequence_num,tran_count,updated_at,year,month,day
0,01238069,2024-02-04 00:00:00.0,202248.70,0.0,202248.70,0.0,2024-02-11 00:00:00.0,FINADMIN,2024-02-13 02:08:55.0,FINADMIN,...,1,NPR,1,0,0,0,2024-07-30 11:45:30.870,2024,2,4
1,02264368,2024-02-01 00:00:00.0,26572.44,0.0,26572.44,0.0,2024-02-01 00:00:00.0,FINADMIN,2024-02-02 22:16:09.0,FINADMIN,...,1,NPR,1,0,0,0,2024-07-30 11:45:30.870,2024,2,1
2,02264368,2024-06-01 00:00:00.0,26586.20,0.0,26586.20,0.0,2024-06-01 00:00:00.0,SYSTEM,2024-06-02 19:41:37.0,SYSTEM,...,2,NPR,1,0,0,0,2024-07-30 11:45:30.870,2024,6,1
3,02559106,2024-04-01 00:00:00.0,423183.63,348542.0,423183.63,348542.0,2024-04-01 00:00:00.0,FINADMIN,2024-04-02 23:53:50.0,FINADMIN,...,1,NPR,1,0,0,0,2024-07-30 11:45:30.870,2024,4,1
4,02559220,2024-06-01 00:00:00.0,10000.00,0.0,10000.00,0.0,2024-06-01 00:00:00.0,SYSTEM,2024-06-02 19:41:31.0,SYSTEM,...,2,NPR,1,0,0,0,2024-07-30 11:45:30.870,2024,6,1

In [9]:
df_gam = pd.read_csv("../general_acct_mast_table/general_acct_mast_table_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,acct_num,acct_name,hashed_no,phone_num,acct_short_name,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,cif_id_t
0,Q39620558,AC83477802,R02944296,2635752944296001,FA3683176010178129,831760101781,Humacanta Prasad Pandey,C1426B129652A7DB20182EAE18980F1B26D3B17E,9829243528,Humacanta,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND9732261
1,Y110180600,AC28966287,O99520992,3414659520992004,FA9480299565595898,802995655958,Sriti Saraswati Limbu,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,NaN,Sriti,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
2,O93531058,AC98636744,O99520992,O987952099252401,FA7106544699531866,65446995318,Sriti Saraswati Limbu,B7BDF9D665BAC86A625C32A5726764FB61251A9A,NaN,Sriti,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
3,32559774,AC72858901,R32157797,3241157797524004,FA1631713350235916,317133502359,PALPA HEALTHCARE PVT. LTD.,FF377859485ED6FCE9A354D30C3A9744DE68421C,4249154/4243464,LUMBINI TRAVELS PVT. LTD.,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG4548358
4,889280082,AC73874192,R09092002,0884459092002067,FA2641279335334283,412793353342,NaN,5654F613A38B19A7130D8A5F217260B16DE305B1,0000000000,NEPAL AIRLINES LTD.,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3617689

In [10]:
df_result = pd.merge(df_eod_acct_bal, df_gam, how='left', on='acid',suffixes=('_p', '_a'))
df_result.head()

,acid,eod_date,tran_date_bal,tran_date_tot_tran,value_date_bal,value_date_tot_tran,end_eod_date,lchg_user_id_p,lchg_time_p,rcre_user_id_p,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at_a,cif_id_t
0,01238069,2024-02-04 00:00:00.0,202248.70,0.0,202248.70,0.0,2024-02-11 00:00:00.0,FINADMIN,2024-02-13 02:08:55.0,FINADMIN,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND3888776
1,02264368,2024-02-01 00:00:00.0,26572.44,0.0,26572.44,0.0,2024-02-01 00:00:00.0,FINADMIN,2024-02-02 22:16:09.0,FINADMIN,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG9774773
2,02264368,2024-06-01 00:00:00.0,26586.20,0.0,26586.20,0.0,2024-06-01 00:00:00.0,SYSTEM,2024-06-02 19:41:37.0,SYSTEM,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG9774773
3,02559106,2024-04-01 00:00:00.0,423183.63,348542.0,423183.63,348542.0,2024-04-01 00:00:00.0,FINADMIN,2024-04-02 23:53:50.0,FINADMIN,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3605515
4,02559220,2024-06-01 00:00:00.0,10000.00,0.0,10000.00,0.0,2024-06-01 00:00:00.0,SYSTEM,2024-06-02 19:41:31.0,SYSTEM,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG9774773

In [11]:
print(df_eod_acct_bal.shape)
print(df_result.shape)

(2009, 21)
(2009, 210)

In [13]:
df_eod_acct_bal["acid"] = result_df["acid_t"].values
df_eod_acct_bal.head()

,acid,eod_date,tran_date_bal,tran_date_tot_tran,value_date_bal,value_date_tot_tran,end_eod_date,lchg_user_id,lchg_time,rcre_user_id,...,ts_cnt,eab_crncy_code,bank_id,last_pstd_srl_num,last_tran_sequence_num,tran_count,updated_at,year,month,day
0,AC31917229,2024-02-04 00:00:00.0,202248.70,0.0,202248.70,0.0,2024-02-11 00:00:00.0,FINADMIN,2024-02-13 02:08:55.0,FINADMIN,...,1,NPR,1,0,0,0,2024-07-30 11:45:30.870,2024,2,4
1,AC81071466,2024-02-01 00:00:00.0,26572.44,0.0,26572.44,0.0,2024-02-01 00:00:00.0,FINADMIN,2024-02-02 22:16:09.0,FINADMIN,...,1,NPR,1,0,0,0,2024-07-30 11:45:30.870,2024,2,1
2,AC81071466,2024-06-01 00:00:00.0,26586.20,0.0,26586.20,0.0,2024-06-01 00:00:00.0,SYSTEM,2024-06-02 19:41:37.0,SYSTEM,...,2,NPR,1,0,0,0,2024-07-30 11:45:30.870,2024,6,1
3,AC94481644,2024-04-01 00:00:00.0,423183.63,348542.0,423183.63,348542.0,2024-04-01 00:00:00.0,FINADMIN,2024-04-02 23:53:50.0,FINADMIN,...,1,NPR,1,0,0,0,2024-07-30 11:45:30.870,2024,4,1
4,AC49584010,2024-06-01 00:00:00.0,10000.00,0.0,10000.00,0.0,2024-06-01 00:00:00.0,SYSTEM,2024-06-02 19:41:31.0,SYSTEM,...,2,NPR,1,0,0,0,2024-07-30 11:45:30.870,2024,6,1

In [14]:
df_eod_acct_bal.to_csv("eod_acct_bal_table.masked.csv",index=False)