In [1]:
import pandas as pd
df_drwng_pow_hist= pd.read_excel("drwng_power_hist_tbl.xlsx")
df_drwng_pow_hist.head()

,acid,status,ts_cnt,bank_id,del_flg,remarks,dacc_lim,event_id,lchg_time,rcre_time,...,lchg_user_id,rcre_user_id,dacc_lim_pcnt,dafa_lim_pcnt,tot_mod_times,entity_cre_flg,applicable_date,drwng_power_ind,drwng_power_pcnt,updated_at
0,0113590,A,1,1,N,NaN,0,0113590/000000000001,2008-08-27T16:19:02,2008-08-27T15:35:06,...,SOPHYP,LAXMIS,0,0,0,Y,2008-08-26T00:00:00.000000,E,0,2024-08-07 06:42:18.307
1,0113590,A,0,1,N,NaN,0,0113590/000000000001,2008-09-09T18:08:56,2008-09-09T18:08:56,...,SUBASD,SUBASD,0,0,0,Y,2008-09-09T00:00:00.000000,E,0,2024-08-07 06:42:18.307
2,0113590,A,2,1,N,NaN,0,0113590/000000000003,2008-09-09T18:55:16,2008-09-09T18:54:15,...,PUJANB,SUBASD,0,0,0,Y,2008-09-09T00:00:00.000000,E,0,2024-08-07 06:42:18.307
3,0115282,A,1,1,N,NaN,0,0115282/000000000001,2008-09-10T14:28:40,2008-09-10T13:18:37,...,SUBASD,BISHNUKG,0,0,0,Y,2008-09-09T00:00:00.000000,E,0,2024-08-07 06:42:18.307
4,0115283,A,1,1,N,NaN,0,0115283/000000000001,2008-09-10T14:29:58,2008-09-10T13:21:45,...,SUBASD,BISHNUKG,0,0,0,Y,2008-09-09T00:00:00.000000,E,0,2024-08-07 06:42:18.307

In [4]:
df_gam=pd.read_csv("../general_acct_mast_table/acid_foracid_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,Q39620558,AC10370877,DLNIND1406504,2635752944296001,FA9627239668220084,PAN668645879,272396682200,Humacanta Bipin Thapa
1,Y110180600,AC41672289,DLNIND4211643,3414659520992004,FA3302344775994664,PAN697945863,23447759946,Sriti Kumari Thapa
2,O93531058,AC73584145,DLNIND4211643,O987952099252401,FA5553585851915269,PAN697945863,535858519152,Sriti Kumari Thapa
3,32559774,AC12345718,DLNLEG9334212,3241157797524004,FA2582732553674743,PAN353089449,827325536747,PALPA HEALTHCARE PVT. LTD.
4,889280082,AC47235600,DLNLEG6576494,0884459092002067,FA7171012596574289,PAN813377590,710125965742,NaN

In [5]:
df_result = pd.merge(df_drwng_pow_hist, df_gam, how='left', on='acid',suffixes=('_p', '_a'))
df_result.head(10)

,acid,status,ts_cnt,bank_id,del_flg,remarks,dacc_lim,event_id,lchg_time,rcre_time,...,drwng_power_ind,drwng_power_pcnt,updated_at,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,0113590,A,1,1,N,NaN,0,0113590/000000000001,2008-08-27T16:19:02,2008-08-27T15:35:06,...,E,0,2024-08-07 06:42:18.307,AC88861241,DLNLEG6465924,01CA001079NPR001,FA8698709284689804,PAN952179235,987092846898,NaN
1,0113590,A,0,1,N,NaN,0,0113590/000000000001,2008-09-09T18:08:56,2008-09-09T18:08:56,...,E,0,2024-08-07 06:42:18.307,AC88861241,DLNLEG6465924,01CA001079NPR001,FA8698709284689804,PAN952179235,987092846898,NaN
2,0113590,A,2,1,N,NaN,0,0113590/000000000003,2008-09-09T18:55:16,2008-09-09T18:54:15,...,E,0,2024-08-07 06:42:18.307,AC88861241,DLNLEG6465924,01CA001079NPR001,FA8698709284689804,PAN952179235,987092846898,NaN
3,0115282,A,1,1,N,NaN,0,0115282/000000000001,2008-09-10T14:28:40,2008-09-10T13:18:37,...,E,0,2024-08-07 06:42:18.307,AC14042152,DLNLEG6465924,01EF001079NPR002,FA4693898714067951,PAN952179235,938987140679,NaN
4,0115283,A,1,1,N,NaN,0,0115283/000000000001,2008-09-10T14:29:58,2008-09-10T13:21:45,...,E,0,2024-08-07 06:42:18.307,AC62240947,DLNLEG6465924,01EF001079NPR003,FA4899046267590576,PAN952179235,990462675905,NaN
5,0115284,A,1,1,N,NaN,0,0115284/000000000001,2008-09-10T14:30:49,2008-09-10T13:24:22,...,E,0,2024-08-07 06:42:18.307,AC37256882,DLNLEG6465924,01EF001079NPR004,FA3143361608102093,PAN952179235,433616081020,NaN
6,0115285,A,1,1,N,NaN,0,0115285/000000000001,2008-09-10T14:31:33,2008-09-10T13:26:35,...,E,0,2024-08-07 06:42:18.307,AC87513015,DLNLEG6465924,01EF001079NPR005,FA7154921648651186,PAN952179235,549216486511,NaN
7,0115286,A,1,1,N,NaN,0,0115286/000000000001,2008-09-10T14:32:28,2008-09-10T13:32:39,...,E,0,2024-08-07 06:42:18.307,AC72543424,DLNLEG6465924,01EF001079NPR006,FA1504431209202414,PAN952179235,44312092024,NaN
8,0115314,A,1,1,N,NaN,0,0115314/000000000001,2008-09-10T14:33:06,2008-09-10T14:04:31,...,E,0,2024-08-07 06:42:18.307,AC28717776,DLNLEG6465924,01EF001079NPR007,FA1498118297679458,PAN952179235,981182976794,NaN
9,0115315,A,1,1,N,NaN,0,0115315/000000000001,2008-09-10T14:33:54,2008-09-10T14:07:50,...,E,0,2024-08-07 06:42:18.307,AC47947452,DLNLEG6465924,01EF001079NPR008,FA1836686958626744,PAN952179235,366869586267,NaN

In [6]:
print(df_drwng_pow_hist.shape)
print(df_result.shape)

(1881, 28)
(1881, 35)

In [7]:
df_drwng_pow_hist['acid']=df_result['acid_t']
df_drwng_pow_hist.head()

,acid,status,ts_cnt,bank_id,del_flg,remarks,dacc_lim,event_id,lchg_time,rcre_time,...,lchg_user_id,rcre_user_id,dacc_lim_pcnt,dafa_lim_pcnt,tot_mod_times,entity_cre_flg,applicable_date,drwng_power_ind,drwng_power_pcnt,updated_at
0,AC88861241,A,1,1,N,NaN,0,0113590/000000000001,2008-08-27T16:19:02,2008-08-27T15:35:06,...,SOPHYP,LAXMIS,0,0,0,Y,2008-08-26T00:00:00.000000,E,0,2024-08-07 06:42:18.307
1,AC88861241,A,0,1,N,NaN,0,0113590/000000000001,2008-09-09T18:08:56,2008-09-09T18:08:56,...,SUBASD,SUBASD,0,0,0,Y,2008-09-09T00:00:00.000000,E,0,2024-08-07 06:42:18.307
2,AC88861241,A,2,1,N,NaN,0,0113590/000000000003,2008-09-09T18:55:16,2008-09-09T18:54:15,...,PUJANB,SUBASD,0,0,0,Y,2008-09-09T00:00:00.000000,E,0,2024-08-07 06:42:18.307
3,AC14042152,A,1,1,N,NaN,0,0115282/000000000001,2008-09-10T14:28:40,2008-09-10T13:18:37,...,SUBASD,BISHNUKG,0,0,0,Y,2008-09-09T00:00:00.000000,E,0,2024-08-07 06:42:18.307
4,AC62240947,A,1,1,N,NaN,0,0115283/000000000001,2008-09-10T14:29:58,2008-09-10T13:21:45,...,SUBASD,BISHNUKG,0,0,0,Y,2008-09-09T00:00:00.000000,E,0,2024-08-07 06:42:18.307

In [8]:
df_drwng_pow_hist.to_csv("drwng_power_hist_tbl_masked.csv",index=False)