In [1]:
import pandas as pd
df_gen_acct_class= pd.read_excel("gen_acct_class_table.xlsx")
df_gen_acct_class.head()

,acid,pd_flg,ts_cnt,bank_id,ref_num,apy_pcnt,dpd_cntr,ecs_flag,ias_code,lchg_time,...,penal_prod_mthd_flg,penal_rate_mthd_flg,used_for_net_off_flg,borrower_category_code,int_compounding_frq_cr,neg_cr_int_allowed_flg,markup_int_rate_appl_flg,prv_to_pd_gl_sub_head_code,int_compounding_rest_flg_cr,updated_at
0,021795331,N,0,1,NaN,0.0,0,N,NaN,2017-06-15T12:29:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:30.781
1,231814814,N,0,1,NaN,0.0,0,N,NaN,2017-06-20T12:44:25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:30.781
2,021818301,N,0,1,NaN,0.0,0,N,NaN,2017-06-25T12:34:02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:30.781
3,231823082,N,0,1,NaN,0.0,0,N,NaN,2017-07-03T11:01:17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:30.781
4,22695209,N,3,1,NaN,0.0,0,NaN,NaN,2017-07-03T16:40:04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:30.781

In [2]:
df_gam=pd.read_csv("../general_acct_mast_table/general_acct_mast_table_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,acct_num,acct_name,hashed_no,phone_num,acct_short_name,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,cif_id_t
0,Q39620558,AC83477802,R02944296,2635752944296001,FA3683176010178129,831760101781,Humacanta Prasad Pandey,C1426B129652A7DB20182EAE18980F1B26D3B17E,9829243528,Humacanta,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND9732261
1,Y110180600,AC28966287,O99520992,3414659520992004,FA9480299565595898,802995655958,Sriti Saraswati Limbu,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,NaN,Sriti,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
2,O93531058,AC98636744,O99520992,O987952099252401,FA7106544699531866,65446995318,Sriti Saraswati Limbu,B7BDF9D665BAC86A625C32A5726764FB61251A9A,NaN,Sriti,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
3,32559774,AC72858901,R32157797,3241157797524004,FA1631713350235916,317133502359,PALPA HEALTHCARE PVT. LTD.,FF377859485ED6FCE9A354D30C3A9744DE68421C,4249154/4243464,LUMBINI TRAVELS PVT. LTD.,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG4548358
4,889280082,AC73874192,R09092002,0884459092002067,FA2641279335334283,412793353342,NaN,5654F613A38B19A7130D8A5F217260B16DE305B1,0000000000,NEPAL AIRLINES LTD.,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3617689

In [3]:
df_result = pd.merge(df_gen_acct_class, df_gam, how='left', on='acid',suffixes=('_p', '_a'))
df_result.head(10)

,acid,pd_flg,ts_cnt_p,bank_id_p,ref_num,apy_pcnt,dpd_cntr,ecs_flag,ias_code,lchg_time_p,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at_a,cif_id_t
0,021795331,N,0,1,NaN,0.0,0,N,NaN,2017-06-15T12:29:45,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3605515
1,231814814,N,0,1,NaN,0.0,0,N,NaN,2017-06-20T12:44:25,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG8409847
2,021818301,N,0,1,NaN,0.0,0,N,NaN,2017-06-25T12:34:02,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3605515
3,231823082,N,0,1,NaN,0.0,0,N,NaN,2017-07-03T11:01:17,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG8409847
4,22695209,N,3,1,NaN,0.0,0,NaN,NaN,2017-07-03T16:40:04,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG8826888
5,091823841,N,1,1,NaN,0.0,0,N,NaN,2017-07-03T17:25:58,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG4695976
6,091824356,N,0,1,NaN,0.0,0,N,NaN,2017-07-04T13:06:18,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG4695976
7,281826602,N,0,1,NaN,0.0,0,N,NaN,2017-07-05T17:36:18,...,NaN,NaN,NaN,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND2090455
8,991839797,N,1,1,NaN,0.0,0,N,NaN,2017-07-11T18:44:39,...,NaN,NaN,NaN,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3617689
9,021846742,N,0,1,NaN,0.0,0,N,NaN,2017-07-13T13:51:29,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3605515

In [4]:
print(df_gen_acct_class.shape)
print(df_result.shape)

(4061, 97)
(4061, 286)

In [7]:
df_gen_acct_class['acid']=df_result['acid_t'].values
df_gen_acct_class.head()

,acid,pd_flg,ts_cnt,bank_id,ref_num,apy_pcnt,dpd_cntr,ecs_flag,ias_code,lchg_time,...,penal_prod_mthd_flg,penal_rate_mthd_flg,used_for_net_off_flg,borrower_category_code,int_compounding_frq_cr,neg_cr_int_allowed_flg,markup_int_rate_appl_flg,prv_to_pd_gl_sub_head_code,int_compounding_rest_flg_cr,updated_at
0,AC76866944,N,0,1,NaN,0.0,0,N,NaN,2017-06-15T12:29:45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:30.781
1,AC62077813,N,0,1,NaN,0.0,0,N,NaN,2017-06-20T12:44:25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:30.781
2,AC57981284,N,0,1,NaN,0.0,0,N,NaN,2017-06-25T12:34:02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:30.781
3,AC92770785,N,0,1,NaN,0.0,0,N,NaN,2017-07-03T11:01:17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:30.781
4,AC61785205,N,3,1,NaN,0.0,0,NaN,NaN,2017-07-03T16:40:04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:30.781

In [8]:
df_gen_acct_class.to_csv("gen_acct_class_table_masked.csv",index=False)