In [3]:
import pandas as pd
df_date=pd.read_excel("date.xlsx")
df_date.head()

,Week,Year,DW_Id,Month,TODAY,DateNum,DayName,Quarter,WeekKey,DW_Batch,...,Days_in_Nepali_Month,Nepali_Month_End_Tag,Nepali_Month_End_Date,Nepali_Quarter_Number,Cummulative_Days_Quarter,Nepali_Year_Month_Number,Previous_Nepali_Month_End,Nepali_Year_Quarter_Number,Nepali_English_Month_End_Date,updated_at
0,53,1998,1,1,N,35794,Thursday,1,199753,16969,...,NaN,NaN,NaN,7.0,NaN,205409.0,NaN,205407.0,NaN,2024-08-07 07:05:30.097
1,53,1998,2,1,N,35795,Friday,1,199753,16969,...,NaN,NaN,NaN,7.0,NaN,205409.0,NaN,205407.0,NaN,2024-08-07 07:05:30.097
2,53,1998,3,1,N,35796,Saturday,1,199753,16969,...,NaN,NaN,NaN,7.0,NaN,205409.0,NaN,205407.0,NaN,2024-08-07 07:05:30.097
3,1,1998,4,1,N,35797,Sunday,1,199801,16969,...,NaN,NaN,NaN,7.0,NaN,205409.0,NaN,205407.0,NaN,2024-08-07 07:05:30.097
4,1,1998,5,1,N,35798,Monday,1,199801,16969,...,NaN,NaN,NaN,7.0,NaN,205409.0,NaN,205407.0,NaN,2024-08-07 07:05:30.097

In [4]:
df_date.to_csv("date_masked.csv",index=False)