In [1]:
import pandas as pd
df_ccod_acct_mast= pd.read_excel("ccod_acct_mast_table.xlsx")
df_ccod_acct_mast.head()

,acid,ts_cnt,bank_id,del_flg,disb_ind,due_date,lchg_time,rcre_time,acct_status,delink_acid,...,adj_for_closure_flg,acct_cls_reason_code,collect_excess_profit,internal_limit_upd_flg,unadj_profit_carry_fwd,wrk_capital_tenor_mths,adj_order_for_carry_fwd,next_dorm_chrg_calc_date,next_inact_chrg_calc_date,updated_at
0,0147135,2,1,N,NaN,NaN,2010-04-12T18:03:44,2009-03-29T14:14:55,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:03.096
1,01139294,0,1,N,M,NaN,2010-06-23T12:37:27,2010-06-23T12:37:27,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:03.096
2,01165109,0,1,N,M,NaN,2011-01-14T16:33:57,2011-01-14T16:33:57,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:03.096
3,02179459,0,1,N,NaN,NaN,2011-05-16T12:20:21,2011-05-16T12:20:21,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:03.096
4,01196977,0,1,N,M,NaN,2011-10-17T21:15:37,2011-10-17T21:15:37,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:03.096

In [2]:
df_gam=pd.read_csv("../general_acct_mast_table/general_acct_mast_table_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,acct_num,acct_name,hashed_no,phone_num,acct_short_name,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,cif_id_t
0,Q39620558,AC83477802,R02944296,2635752944296001,FA3683176010178129,831760101781,Humacanta Prasad Pandey,C1426B129652A7DB20182EAE18980F1B26D3B17E,9829243528,Humacanta,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND9732261
1,Y110180600,AC28966287,O99520992,3414659520992004,FA9480299565595898,802995655958,Sriti Saraswati Limbu,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,NaN,Sriti,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
2,O93531058,AC98636744,O99520992,O987952099252401,FA7106544699531866,65446995318,Sriti Saraswati Limbu,B7BDF9D665BAC86A625C32A5726764FB61251A9A,NaN,Sriti,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
3,32559774,AC72858901,R32157797,3241157797524004,FA1631713350235916,317133502359,PALPA HEALTHCARE PVT. LTD.,FF377859485ED6FCE9A354D30C3A9744DE68421C,4249154/4243464,LUMBINI TRAVELS PVT. LTD.,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG4548358
4,889280082,AC73874192,R09092002,0884459092002067,FA2641279335334283,412793353342,NaN,5654F613A38B19A7130D8A5F217260B16DE305B1,0000000000,NEPAL AIRLINES LTD.,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3617689

In [3]:
df_result = pd.merge(df_ccod_acct_mast, df_gam, how='left', on='acid',suffixes=('_p', '_a'))
df_result.head(10)

,acid,ts_cnt_p,bank_id_p,del_flg_p,disb_ind,due_date,lchg_time_p,rcre_time_p,acct_status,delink_acid,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at_a,cif_id_t
0,0147135,2,1,N,NaN,NaN,2010-04-12T18:03:44,2009-03-29T14:14:55,A,NaN,...,NaN,NaN,NaN,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND7460353
1,01139294,0,1,N,M,NaN,2010-06-23T12:37:27,2010-06-23T12:37:27,A,NaN,...,NaN,NaN,NaN,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG2738611
2,01165109,0,1,N,M,NaN,2011-01-14T16:33:57,2011-01-14T16:33:57,A,NaN,...,NaN,NaN,NaN,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG1869060
3,02179459,0,1,N,NaN,NaN,2011-05-16T12:20:21,2011-05-16T12:20:21,A,NaN,...,NaN,NaN,NaN,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND4948337
4,01196977,0,1,N,M,NaN,2011-10-17T21:15:37,2011-10-17T21:15:37,A,NaN,...,NaN,NaN,NaN,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG1869060
5,01181737,2,1,N,NaN,NaN,2012-04-12T19:05:08,2011-06-06T17:40:04,A,NaN,...,NaN,NaN,NaN,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND7460353
6,32559773,0,1,N,NaN,NaN,2013-06-26T17:45:25,2013-06-26T17:45:25,D,NaN,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG4548358
7,30565652,0,1,N,NaN,NaN,2013-06-26T18:18:25,2013-06-26T18:18:25,D,NaN,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG6738730
8,0143753,8,1,N,M,NaN,2013-09-20T10:44:54,2009-02-26T14:32:58,A,NaN,...,NaN,NaN,NaN,N,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG2738611
9,09786725,0,1,N,NaN,NaN,2014-02-11T18:06:03,2014-02-11T18:06:03,A,NaN,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3553720

In [4]:
print(df_ccod_acct_mast.shape)
print(df_result.shape)

(123, 44)
(123, 233)

In [5]:
df_ccod_acct_mast['acid']=df_result['acid_t']
df_ccod_acct_mast.head()

,acid,ts_cnt,bank_id,del_flg,disb_ind,due_date,lchg_time,rcre_time,acct_status,delink_acid,...,adj_for_closure_flg,acct_cls_reason_code,collect_excess_profit,internal_limit_upd_flg,unadj_profit_carry_fwd,wrk_capital_tenor_mths,adj_order_for_carry_fwd,next_dorm_chrg_calc_date,next_inact_chrg_calc_date,updated_at
0,AC99691567,2,1,N,NaN,NaN,2010-04-12T18:03:44,2009-03-29T14:14:55,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:03.096
1,AC36167844,0,1,N,M,NaN,2010-06-23T12:37:27,2010-06-23T12:37:27,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:03.096
2,AC38634323,0,1,N,M,NaN,2011-01-14T16:33:57,2011-01-14T16:33:57,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:03.096
3,AC75397150,0,1,N,NaN,NaN,2011-05-16T12:20:21,2011-05-16T12:20:21,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:03.096
4,AC99331848,0,1,N,M,NaN,2011-10-17T21:15:37,2011-10-17T21:15:37,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:03.096

In [6]:
df_ccod_acct_mast.to_csv("ccod_acct_mast_table_masked.csv",index=False)