In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("general_acct_mast_table.xlsx")
df.head()

,_airbyte_ab_id,_airbyte_emitted_at,acid,bacid,cif_id,emp_id,sol_id,ts_cnt,bank_id,cust_id,...,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,_airbyte_additional_properties,source_file_path,updated_at
0,e2e69e61-975a-443c-af93-5000ff4e0fda,2024-08-05 12:32:31.283,Q39620558,NaN,R02944296,NaN,Q3,69,1,RC2934809,...,NaN,N,NaN,0,0,NaN,0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/TBAADM/...,2024-08-07 06:44:51.722
1,d90851ad-b4c4-475f-9b96-4861a5380e8a,2024-08-05 12:32:31.283,Y110180600,NaN,O99520992,NaN,Y1,5,1,O99520992,...,NaN,N,NaN,0,0,NaN,0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/TBAADM/...,2024-08-07 06:44:51.722
2,55df5e55-ef2e-4bdd-9eab-0428d6e6e056,2024-08-05 12:32:31.283,O93531058,NaN,O99520992,NaN,O9,209,1,O99520992,...,NaN,NaN,NaN,0,0,NaN,0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/TBAADM/...,2024-08-07 06:44:51.722
3,86cc6f99-dbe6-40db-85c7-cf440057db1f,2024-08-05 12:32:31.283,32559774,NaN,R32157797,NaN,32,10720,1,32157797,...,NaN,NaN,NaN,0,0,NaN,0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/TBAADM/...,2024-08-07 06:44:51.722
4,89f8ec40-bf33-4a0d-bc1d-fb2194f3df6c,2024-08-05 12:32:31.283,889280082,NaN,R09092002,NaN,88,378,1,09092002,...,NaN,N,NaN,0,0,NaN,0,NaN,s3a://ai360nica/data/bronze/oracle/cbs/TBAADM/...,2024-08-07 06:44:51.722

In [3]:
df = df.drop_duplicates(subset=['acid'])
print(len(df))

4087

In [4]:
df = df.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)
df.head()

,acid,bacid,cif_id,emp_id,sol_id,ts_cnt,bank_id,cust_id,del_flg,foracid,...,acct_classification_flg,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at
0,Q39620558,NaN,R02944296,NaN,Q3,69,1,RC2934809,N,2635752944296001,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
1,Y110180600,NaN,O99520992,NaN,Y1,5,1,O99520992,N,3414659520992004,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
2,O93531058,NaN,O99520992,NaN,O9,209,1,O99520992,N,O987952099252401,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
3,32559774,NaN,R32157797,NaN,32,10720,1,32157797,N,3241157797524004,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
4,889280082,NaN,R09092002,NaN,88,378,1,09092002,N,0884459092002067,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722

In [5]:
# generate acid 
def generate_acid(data):
    return "AC" + str(np.random.randint(10000000, 99999999))

df["acid_t"] = df["acid"].apply(generate_acid)
df.head()

,acid,bacid,cif_id,emp_id,sol_id,ts_cnt,bank_id,cust_id,del_flg,foracid,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,acid_t
0,Q39620558,NaN,R02944296,NaN,Q3,69,1,RC2934809,N,2635752944296001,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,AC18627848
1,Y110180600,NaN,O99520992,NaN,Y1,5,1,O99520992,N,3414659520992004,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,AC55662474
2,O93531058,NaN,O99520992,NaN,O9,209,1,O99520992,N,O987952099252401,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,AC17342350
3,32559774,NaN,R32157797,NaN,32,10720,1,32157797,N,3241157797524004,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,AC75169299
4,889280082,NaN,R09092002,NaN,88,378,1,09092002,N,0884459092002067,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,AC40285894

In [6]:
# generate_foracid
import numpy as np
import pandas as pd

def generate_foracid():
    random_digit =  str(np.random.randint(1000000000000000, 9999999999999999,dtype='int64'))
    return "FA"+random_digit

df["foracid_t"] = [generate_foracid() for _ in range(len(df))]

df["acct_num"] = df["foracid_t"].str[4:16]
df.head()

,acid,bacid,cif_id,emp_id,sol_id,ts_cnt,bank_id,cust_id,del_flg,foracid,...,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,acid_t,foracid_t
0,Q39620558,NaN,R02944296,NaN,Q3,69,1,RC2934809,N,2635752944296001,...,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,AC18627848,FA8156089173500000
1,Y110180600,NaN,O99520992,NaN,Y1,5,1,O99520992,N,3414659520992004,...,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,AC55662474,FA4223839220615195
2,O93531058,NaN,O99520992,NaN,O9,209,1,O99520992,N,O987952099252401,...,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,AC17342350,FA4205787759962649
3,32559774,NaN,R32157797,NaN,32,10720,1,32157797,N,3241157797524004,...,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,AC75169299,FA6344146556514093
4,889280082,NaN,R09092002,NaN,88,378,1,09092002,N,0884459092002067,...,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,AC40285894,FA6511936813747641

In [7]:
print(len(df.columns))

189

In [8]:
selected_columns = [
    "acid",
    "acid_t",
    "cif_id",
    "foracid",
    "foracid_t",
    "acct_num",
    "acct_name",
    "hashed_no",
    "phone_num",
    "acct_short_name",
    "last_tran_id_cr",
    "last_tran_id_dr"
]
remaining_columns = [col for col in df.columns if col not in selected_columns]

In [9]:
df = df[selected_columns+remaining_columns]
df.head()

,acid,acid_t,cif_id,foracid,foracid_t,acct_num,acct_name,hashed_no,phone_num,acct_short_name,...,acct_classification_flg,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at
0,Q39620558,AC18627848,R02944296,2635752944296001,FA8156089173500000,560891735000,DIPESH SHAH TELI,051C3238B743D0B6E10CE6191CF1F380DD22D0A9,9829243528,DIPESH,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
1,Y110180600,AC55662474,O99520992,3414659520992004,FA4223839220615195,238392206151,KABITA BASNET,164D7E223F15C72308064ADCDC93A76EB2FB8696,NaN,KABITA BAS,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
2,O93531058,AC17342350,O99520992,O987952099252401,FA4205787759962649,057877599626,KABITA BASNET,C78C262AEA4DA2B0BDB24108D91FF11B27C449EA,NaN,KABITA BAS,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
3,32559774,AC75169299,R32157797,3241157797524004,FA6344146556514093,441465565140,CIVIL CAPITAL DIV (68-69),71F210D092B3C302CCCA78EDDADB21D726F958A1,4249154/4243464,CIVIL CAPI,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
4,889280082,AC40285894,R09092002,0884459092002067,FA6511936813747641,119368137476,"NEPAL DOORSANCHAR COMPANY LTD.,REVENUE ACCOUNT...",97FBCCF72DDA48211FACA28166C6883FC1337A42,0000000000,NEPAL,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722

In [10]:
import hashlib

def generate_hash(data):
    if not isinstance(data, str):
        data = str(data)
    return hashlib.sha1(data.encode('utf-8')).hexdigest().upper()

df["hashed_no"] = df["foracid"].apply(generate_hash)

In [11]:
df["hashed_no"].head().reset_index()
# df.columns

   index                                 hashed_no
0      0  C1426B129652A7DB20182EAE18980F1B26D3B17E
1      1  26B23D96EE13CDC789D531D4CF5839AD1EF73B75
2      2  B7BDF9D665BAC86A625C32A5726764FB61251A9A
3      3  FF377859485ED6FCE9A354D30C3A9744DE68421C
4      4  5654F613A38B19A7130D8A5F217260B16DE305B1

In [12]:
df.head()

,acid,acid_t,cif_id,foracid,foracid_t,acct_num,acct_name,hashed_no,phone_num,acct_short_name,...,acct_classification_flg,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at
0,Q39620558,AC18627848,R02944296,2635752944296001,FA8156089173500000,560891735000,DIPESH SHAH TELI,C1426B129652A7DB20182EAE18980F1B26D3B17E,9829243528,DIPESH,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
1,Y110180600,AC55662474,O99520992,3414659520992004,FA4223839220615195,238392206151,KABITA BASNET,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,NaN,KABITA BAS,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
2,O93531058,AC17342350,O99520992,O987952099252401,FA4205787759962649,057877599626,KABITA BASNET,B7BDF9D665BAC86A625C32A5726764FB61251A9A,NaN,KABITA BAS,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
3,32559774,AC75169299,R32157797,3241157797524004,FA6344146556514093,441465565140,CIVIL CAPITAL DIV (68-69),FF377859485ED6FCE9A354D30C3A9744DE68421C,4249154/4243464,CIVIL CAPI,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
4,889280082,AC40285894,R09092002,0884459092002067,FA6511936813747641,119368137476,"NEPAL DOORSANCHAR COMPANY LTD.,REVENUE ACCOUNT...",5654F613A38B19A7130D8A5F217260B16DE305B1,0000000000,NEPAL,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722

In [13]:
df_acc = pd.read_csv("../../crmuser/account/cif_masked.csv")
df_acc.head()

,orgkey,cif_id,pan,cust_first_name,cust_middle_name,cust_last_name,preferredphone,email,gender,preferredemail,name,preferredname
0,319749297,DLNIND7439062,774525728,Duman,Narayan,Neupane,+977-9875966202,duman298@gmail.com,M,duman298@gmail.com,Duman Narayan Neupane,Duman Narayan Neupane
1,R24249553,DLNLEG2131367,653435111,Prajina,Devi,Maharjan,+977-9852534864,prajina145@gmail.com,F,prajina145@gmail.com,Prajina Devi Maharjan,Prajina Devi Maharjan
2,R28893337,DLNIND9043300,171640280,Humacanta,Bipin,Thapa,+977-9867795072,humacanta304@gmail.com,M,humacanta304@gmail.com,Humacanta Bipin Thapa,Humacanta Bipin Thapa
3,R66368828,DLNIND9610835,153209321,KHOTANG FOODS PVT. LTD.,NaN,NaN,+977-9882862804,khotangfoods669@outlook.com,NaN,khotangfoods669@outlook.com,KHOTANG FOODS PVT. LTD.,KHOTANG FOODS PVT. LTD.
4,R02063811,DLNIND1810473,372830313,Adarsh,Bhakta,Lama,+977-9817546941,adarsh871@gmail.com,M,adarsh871@gmail.com,Adarsh Bhakta Lama,Adarsh Bhakta Lama

In [14]:
print(len(df))
print(len(df_acc))

4087
125

In [15]:
result_df = pd.merge(df, df_acc, how='left', left_on="cif_id",right_on="orgkey",suffixes=('_p', '_a'))
result_df.head(8)

,acid,acid_t,cif_id_p,foracid,foracid_t,acct_num,acct_name,hashed_no,phone_num,acct_short_name,...,pan,cust_first_name,cust_middle_name,cust_last_name,preferredphone,email,gender,preferredemail,name,preferredname
0,Q39620558,AC18627848,R02944296,2635752944296001,FA8156089173500000,560891735000,DIPESH SHAH TELI,C1426B129652A7DB20182EAE18980F1B26D3B17E,9829243528,DIPESH,...,112384799,Sanyukta,Saraswati,Bhattarai,+977-9896728077,sanyukta603@gmail.com,F,sanyukta603@gmail.com,Sanyukta Saraswati Bhattarai,Sanyukta Saraswati Bhattarai
1,Y110180600,AC55662474,O99520992,3414659520992004,FA4223839220615195,238392206151,KABITA BASNET,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,NaN,KABITA BAS,...,338510999,PALPA HEALTHCARE PVT. LTD.,NaN,NaN,+977-9859760489,palpahealthcare963@outlook.com,NaN,palpahealthcare963@outlook.com,PALPA HEALTHCARE PVT. LTD.,PALPA HEALTHCARE PVT. LTD.
2,O93531058,AC17342350,O99520992,O987952099252401,FA4205787759962649,057877599626,KABITA BASNET,B7BDF9D665BAC86A625C32A5726764FB61251A9A,NaN,KABITA BAS,...,338510999,PALPA HEALTHCARE PVT. LTD.,NaN,NaN,+977-9859760489,palpahealthcare963@outlook.com,NaN,palpahealthcare963@outlook.com,PALPA HEALTHCARE PVT. LTD.,PALPA HEALTHCARE PVT. LTD.
3,32559774,AC75169299,R32157797,3241157797524004,FA6344146556514093,441465565140,CIVIL CAPITAL DIV (68-69),FF377859485ED6FCE9A354D30C3A9744DE68421C,4249154/4243464,CIVIL CAPI,...,891401945,Anoj,Bahadur,Yadav,+977-9886244611,anoj981@gmail.com,M,anoj981@gmail.com,Anoj Bahadur Yadav,Anoj Bahadur Yadav
4,889280082,AC40285894,R09092002,0884459092002067,FA6511936813747641,119368137476,"NEPAL DOORSANCHAR COMPANY LTD.,REVENUE ACCOUNT...",5654F613A38B19A7130D8A5F217260B16DE305B1,0000000000,NEPAL,...,925167029,Mikma,Hari,Lama,+977-9827586543,mikma433@gmail.com,M,mikma433@gmail.com,Mikma Hari Lama,Mikma Hari Lama
5,V710183913,AC82902119,R00264434,317TD50264434029,FA9713897728810637,138977288106,BISHNU MAYA SHRESTHA,D42C1722F7EB375E47EB6F6BB243280B759F6834,NaN,BISHNU,...,786263209,BIRATNAGAR AUTOMOBILES PVT. LTD.,NaN,NaN,+977-9819313192,biratnagarautomobiles435@outlook.com,NaN,biratnagarautomobiles435@outlook.com,BIRATNAGAR AUTOMOBILES PVT. LTD.,BIRATNAGAR AUTOMOBILES PVT. LTD.
6,T29090477,AC59638984,J00518347,2924150518347030,FA6754545013976336,545450139763,NIC ASIA LAGHUBITTA BITTIYA SANSTHA LTD,02C9899D753C0E89E9CD00084BF8E977945BE808,9848893490,NIC ASIA L,...,625724272,Sriti,Kumari,Thapa,+977-9861358727,sriti952@gmail.com,F,sriti952@gmail.com,Sriti Kumari Thapa,Sriti Kumari Thapa
7,095980734,AC41633067,R01131729,0095751131729001,FA8340408274968085,404082749680,BISHNU PRASAD TIMSINA,2FFFB30144A66CE4589FB5425E5699A97AF96B40,9807971052,BISHNU PRA,...,582235320,Heli,Saraswati,Acharya,+977-9830876257,heli486@gmail.com,F,heli486@gmail.com,Heli Saraswati Acharya,Heli Saraswati Acharya

In [16]:
print(len(result_df))

4087

In [17]:
df["acct_name"] = result_df["preferredname"].values
df["acct_short_name"] = result_df["cust_first_name"].values
df["phone_num"] = result_df["preferredphone"].values

In [18]:
acid_foracid = pd.read_csv("acid_foracid_masked.csv")
acid_foracid.head()

,acid,acid_t,cif_id,acct_num,pan,foracid,foracid_t
0,Q39620558,AC20799803,DLNIND7603271,907626937265,112384799,2635752944296001,FA3590762693726586
1,Y110180600,AC56241876,DLNIND7210964,377451868634,338510999,3414659520992004,FA2337745186863401
2,O93531058,AC96562536,DLNIND7210964,363009476802,338510999,O987952099252401,FA5436300947680276
3,32559774,AC23368900,DLNLEG6581047,983741374499,891401945,3241157797524004,FA9898374137449918
4,889280082,AC67093024,DLNLEG3323761,584659083338,925167029,0884459092002067,FA3458465908333884

In [19]:
result_df = pd.merge(df, acid_foracid, how='left', on="acid",suffixes=('_p', '_a'))
result_df.head()

,acid,acid_t_p,cif_id_p,foracid_p,foracid_t_p,acct_num_p,acct_name,hashed_no,phone_num,acct_short_name,...,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,acid_t_a,cif_id_a,acct_num_a,pan,foracid_a,foracid_t_a
0,Q39620558,AC18627848,R02944296,2635752944296001,FA8156089173500000,560891735000,Sanyukta Saraswati Bhattarai,C1426B129652A7DB20182EAE18980F1B26D3B17E,+977-9896728077,Sanyukta,...,0,NaN,0,2024-08-07 06:44:51.722,AC20799803,DLNIND7603271,907626937265,112384799,2635752944296001,FA3590762693726586
1,Y110180600,AC55662474,O99520992,3414659520992004,FA4223839220615195,238392206151,PALPA HEALTHCARE PVT. LTD.,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,+977-9859760489,PALPA HEALTHCARE PVT. LTD.,...,0,NaN,0,2024-08-07 06:44:51.722,AC56241876,DLNIND7210964,377451868634,338510999,3414659520992004,FA2337745186863401
2,O93531058,AC17342350,O99520992,O987952099252401,FA4205787759962649,057877599626,PALPA HEALTHCARE PVT. LTD.,B7BDF9D665BAC86A625C32A5726764FB61251A9A,+977-9859760489,PALPA HEALTHCARE PVT. LTD.,...,0,NaN,0,2024-08-07 06:44:51.722,AC96562536,DLNIND7210964,363009476802,338510999,O987952099252401,FA5436300947680276
3,32559774,AC75169299,R32157797,3241157797524004,FA6344146556514093,441465565140,Anoj Bahadur Yadav,FF377859485ED6FCE9A354D30C3A9744DE68421C,+977-9886244611,Anoj,...,0,NaN,0,2024-08-07 06:44:51.722,AC23368900,DLNLEG6581047,983741374499,891401945,3241157797524004,FA9898374137449918
4,889280082,AC40285894,R09092002,0884459092002067,FA6511936813747641,119368137476,Mikma Hari Lama,5654F613A38B19A7130D8A5F217260B16DE305B1,+977-9827586543,Mikma,...,0,NaN,0,2024-08-07 06:44:51.722,AC67093024,DLNLEG3323761,584659083338,925167029,0884459092002067,FA3458465908333884

In [20]:
df["acid"] = result_df["acid_t_a"].values
df["foracid"] = result_df["foracid_t_a"].values
df["cif_id"] = result_df["cif_id_a"].values

In [21]:
df.columns

Index(['acid', 'acid_t', 'cif_id', 'foracid', 'foracid_t', 'acct_num',
       'acct_name', 'hashed_no', 'phone_num', 'acct_short_name',
       ...
       'acct_classification_flg', 'acct_cls_advice_printed',
       'acct_cls_chrg_pend_verf', 'is_loan_agnst_cltrl_flg',
       'int_adj_for_deduction_flg', 'used_un_clr_over_dacc_amt',
       'used_clean_single_tran_lim', 'wtax_floor_limit_scope_flg',
       'used_oc_cln_single_tran_lim', 'updated_at'],
      dtype='object', length=189)

In [22]:
df = df.drop(['acid_t','foracid_t'], axis=1)
df.head()

,acid,cif_id,foracid,acct_num,acct_name,hashed_no,phone_num,acct_short_name,last_tran_id_cr,last_tran_id_dr,...,acct_classification_flg,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at
0,AC20799803,DLNIND7603271,FA3590762693726586,560891735000,Sanyukta Saraswati Bhattarai,C1426B129652A7DB20182EAE18980F1B26D3B17E,+977-9896728077,Sanyukta,DC36038,S16217819,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
1,AC56241876,DLNIND7210964,FA2337745186863401,238392206151,PALPA HEALTHCARE PVT. LTD.,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,+977-9859760489,PALPA HEALTHCARE PVT. LTD.,S16582958,NaN,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
2,AC96562536,DLNIND7210964,FA5436300947680276,057877599626,PALPA HEALTHCARE PVT. LTD.,B7BDF9D665BAC86A625C32A5726764FB61251A9A,+977-9859760489,PALPA HEALTHCARE PVT. LTD.,S15445255,S16582958,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
3,AC23368900,DLNLEG6581047,FA9898374137449918,441465565140,Anoj Bahadur Yadav,FF377859485ED6FCE9A354D30C3A9744DE68421C,+977-9886244611,Anoj,DC6220,DC48035,...,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722
4,AC67093024,DLNLEG3323761,FA3458465908333884,119368137476,Mikma Hari Lama,5654F613A38B19A7130D8A5F217260B16DE305B1,+977-9827586543,Mikma,DC50574,S15502912,...,NaN,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722

In [23]:
df["cif_id"].head()

0    DLNIND7603271
1    DLNIND7210964
2    DLNIND7210964
3    DLNLEG6581047
4    DLNLEG3323761
Name: cif_id, dtype: object

In [24]:
df.to_csv('general_acct_mast_table_masked.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'general_acct_mast_table_masked.csv'