In [1]:
import pandas as pd
df_int_tbl_code= pd.read_excel("int_tbl_code_table.xlsx")
df_int_tbl_code.head()

,ts_cnt,bank_id,del_flg,end_date,entity_id,lchg_time,rcre_time,pegged_flg,start_date,entity_type,...,ac_level_comp_prnc_pcnt,peg_frequency_in_months,peg_review_date_entered,penalty_int_pcnt_for_int,penalty_int_pcnt_for_prnc,review_reqd_on_start_date,ac_level_pen_int_pcnt_for_int,ac_level_pen_int_pcnt_for_prnc,interpol_reqd_ccy_hol_brkn_prd,updated_at
0,1,1,N,2099-12-31T00:00:00.000000,R810444891,2024-08-07T11:36:06,2024-08-07T11:36:06,Y,2024-08-07T00:00:00.000000,ACCNT,...,0.0,0,,0.0,0.0,,0.0,0.0,,2024-08-29 04:59:49.811
1,1,1,N,2099-12-31T00:00:00.000000,0910445931,2024-08-07T17:10:14,2024-08-07T17:10:13,Y,2024-08-07T00:00:00.000000,ACCNT,...,0.0,0,,0.0,0.0,,0.0,0.0,,2024-08-29 04:59:49.811
2,0,1,N,2099-12-31T00:00:00.000000,2610454941,2024-08-11T20:24:25,2024-08-11T20:24:25,Y,2024-08-11T00:00:00.000000,ACCNT,...,0.0,0,,0.0,0.0,,0.0,0.0,,2024-08-29 04:59:49.811
3,0,1,N,2099-12-31T00:00:00.000000,2610454943,2024-08-11T20:24:31,2024-08-11T20:24:31,Y,2024-08-11T00:00:00.000000,ACCNT,...,0.0,0,,0.0,0.0,,0.0,0.0,,2024-08-29 04:59:49.811
4,0,1,N,2099-12-31T00:00:00.000000,2610454944,2024-08-11T20:24:37,2024-08-11T20:24:37,Y,2024-08-11T00:00:00.000000,ACCNT,...,0.0,0,,0.0,0.0,,0.0,0.0,,2024-08-29 04:59:49.811

In [2]:
df_gam=pd.read_csv("../general_acct_mast_table/general_acct_mast_table_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,acct_num,acct_name,hashed_no,phone_num,acct_short_name,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,cif_id_t
0,Q39620558,AC83477802,R02944296,2635752944296001,FA3683176010178129,831760101781,Humacanta Prasad Pandey,C1426B129652A7DB20182EAE18980F1B26D3B17E,9829243528,Humacanta,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND9732261
1,Y110180600,AC28966287,O99520992,3414659520992004,FA9480299565595898,802995655958,Sriti Saraswati Limbu,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,NaN,Sriti,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
2,O93531058,AC98636744,O99520992,O987952099252401,FA7106544699531866,65446995318,Sriti Saraswati Limbu,B7BDF9D665BAC86A625C32A5726764FB61251A9A,NaN,Sriti,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
3,32559774,AC72858901,R32157797,3241157797524004,FA1631713350235916,317133502359,PALPA HEALTHCARE PVT. LTD.,FF377859485ED6FCE9A354D30C3A9744DE68421C,4249154/4243464,LUMBINI TRAVELS PVT. LTD.,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG4548358
4,889280082,AC73874192,R09092002,0884459092002067,FA2641279335334283,412793353342,NaN,5654F613A38B19A7130D8A5F217260B16DE305B1,0000000000,NEPAL AIRLINES LTD.,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3617689

In [3]:
df_result = pd.merge(left_on='entity_id', right_on='acid',left=df_int_tbl_code,right=df_gam,how='left',suffixes=('_p', '_a'))
df_result.head(5)

,ts_cnt_p,bank_id_p,del_flg_p,end_date,entity_id,lchg_time_p,rcre_time_p,pegged_flg,start_date,entity_type,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at_a,cif_id_t
0,1,1,N,2099-12-31T00:00:00.000000,R810444891,2024-08-07T11:36:06,2024-08-07T11:36:06,Y,2024-08-07T00:00:00.000000,ACCNT,...,NaN,NaN,N,N,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND4273093
1,1,1,N,2099-12-31T00:00:00.000000,0910445931,2024-08-07T17:10:14,2024-08-07T17:10:13,Y,2024-08-07T00:00:00.000000,ACCNT,...,NaN,NaN,N,N,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND3369877
2,0,1,N,2099-12-31T00:00:00.000000,2610454941,2024-08-11T20:24:25,2024-08-11T20:24:25,Y,2024-08-11T00:00:00.000000,ACCNT,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND7531716
3,0,1,N,2099-12-31T00:00:00.000000,2610454943,2024-08-11T20:24:31,2024-08-11T20:24:31,Y,2024-08-11T00:00:00.000000,ACCNT,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND7531716
4,0,1,N,2099-12-31T00:00:00.000000,2610454944,2024-08-11T20:24:37,2024-08-11T20:24:37,Y,2024-08-11T00:00:00.000000,ACCNT,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND7531716

In [4]:
print(df_int_tbl_code.shape)
print(df_result.shape)

(6497, 61)
(6497, 251)

In [5]:
df_int_tbl_code['entity_id']=df_result['acid_t'].values
df_int_tbl_code.head()

,ts_cnt,bank_id,del_flg,end_date,entity_id,lchg_time,rcre_time,pegged_flg,start_date,entity_type,...,ac_level_comp_prnc_pcnt,peg_frequency_in_months,peg_review_date_entered,penalty_int_pcnt_for_int,penalty_int_pcnt_for_prnc,review_reqd_on_start_date,ac_level_pen_int_pcnt_for_int,ac_level_pen_int_pcnt_for_prnc,interpol_reqd_ccy_hol_brkn_prd,updated_at
0,1,1,N,2099-12-31T00:00:00.000000,AC94292830,2024-08-07T11:36:06,2024-08-07T11:36:06,Y,2024-08-07T00:00:00.000000,ACCNT,...,0.0,0,,0.0,0.0,,0.0,0.0,,2024-08-29 04:59:49.811
1,1,1,N,2099-12-31T00:00:00.000000,AC56405829,2024-08-07T17:10:14,2024-08-07T17:10:13,Y,2024-08-07T00:00:00.000000,ACCNT,...,0.0,0,,0.0,0.0,,0.0,0.0,,2024-08-29 04:59:49.811
2,0,1,N,2099-12-31T00:00:00.000000,AC84039692,2024-08-11T20:24:25,2024-08-11T20:24:25,Y,2024-08-11T00:00:00.000000,ACCNT,...,0.0,0,,0.0,0.0,,0.0,0.0,,2024-08-29 04:59:49.811
3,0,1,N,2099-12-31T00:00:00.000000,AC70704810,2024-08-11T20:24:31,2024-08-11T20:24:31,Y,2024-08-11T00:00:00.000000,ACCNT,...,0.0,0,,0.0,0.0,,0.0,0.0,,2024-08-29 04:59:49.811
4,0,1,N,2099-12-31T00:00:00.000000,AC99739791,2024-08-11T20:24:37,2024-08-11T20:24:37,Y,2024-08-11T00:00:00.000000,ACCNT,...,0.0,0,,0.0,0.0,,0.0,0.0,,2024-08-29 04:59:49.811

In [6]:
df_int_tbl_code.to_csv("int_tbl_code_table_masked.csv",index=False)