In [1]:
import pandas as pd
df_interest_detail= pd.read_excel("interest_details_table.xlsx")
df_interest_detail.head()

,entity_id,entity_type,interest_ind,interest_type,serial_num,entity_cre_flg,product,product_for_int_rate,diff_product,start_date,...,last_comp_amount_cr,int_appl_flg_cr,wtax_amount_scope_flg,itax_for_floor_limit_flg,wtax_pcnt,wtax_floor_limit,last_comp_tax,tax_amount,wtax_for_cr_comp,updated_at
0,V88046198,ACCNT,C,N,620,Y,154440.65,154440.65,0,2024-04-11 00:00:00.0,...,0,,P,N,6,0,81.533221,2.824027,N,2024-07-30 09:10:10.576
1,V88046198,ACCNT,C,N,624,Y,156762.23,156762.23,0,2024-04-15 00:00:00.0,...,0,,P,N,6,0,8.493304,2.844043,N,2024-07-30 09:10:10.576
2,V88046198,ACCNT,C,N,625,Y,156762.23,156762.23,0,2024-04-16 00:00:00.0,...,0,,P,N,6,0,11.338206,2.844902,N,2024-07-30 09:10:10.576
3,V88046198,ACCNT,C,N,626,Y,156762.23,156762.23,0,2024-04-17 00:00:00.0,...,0,,P,N,6,0,14.183968,2.845762,N,2024-07-30 09:10:10.576
4,V88046198,ACCNT,C,N,627,Y,156762.23,156762.23,0,2024-04-18 00:00:00.0,...,0,,P,N,6,0,17.030590,2.846622,N,2024-07-30 09:10:10.576

In [2]:
df_gam=pd.read_csv("../general_acct_mast_table/general_acct_mast_table_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,acct_num,acct_name,hashed_no,phone_num,acct_short_name,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,cif_id_t
0,Q39620558,AC83477802,R02944296,2635752944296001,FA3683176010178129,831760101781,Humacanta Prasad Pandey,C1426B129652A7DB20182EAE18980F1B26D3B17E,9829243528,Humacanta,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND9732261
1,Y110180600,AC28966287,O99520992,3414659520992004,FA9480299565595898,802995655958,Sriti Saraswati Limbu,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,NaN,Sriti,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
2,O93531058,AC98636744,O99520992,O987952099252401,FA7106544699531866,65446995318,Sriti Saraswati Limbu,B7BDF9D665BAC86A625C32A5726764FB61251A9A,NaN,Sriti,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
3,32559774,AC72858901,R32157797,3241157797524004,FA1631713350235916,317133502359,PALPA HEALTHCARE PVT. LTD.,FF377859485ED6FCE9A354D30C3A9744DE68421C,4249154/4243464,LUMBINI TRAVELS PVT. LTD.,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG4548358
4,889280082,AC73874192,R09092002,0884459092002067,FA2641279335334283,412793353342,NaN,5654F613A38B19A7130D8A5F217260B16DE305B1,0000000000,NEPAL AIRLINES LTD.,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3617689

In [3]:
df_result = pd.merge(left_on='entity_id', right_on='acid',left=df_interest_detail,right=df_gam,how='left',suffixes=('_p', '_a'))
df_result.head(5)

,entity_id,entity_type,interest_ind,interest_type,serial_num,entity_cre_flg_p,product,product_for_int_rate,diff_product,start_date,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at_a,cif_id_t
0,V88046198,ACCNT,C,N,620,Y,154440.65,154440.65,0,2024-04-11 00:00:00.0,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND5941246
1,V88046198,ACCNT,C,N,624,Y,156762.23,156762.23,0,2024-04-15 00:00:00.0,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND5941246
2,V88046198,ACCNT,C,N,625,Y,156762.23,156762.23,0,2024-04-16 00:00:00.0,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND5941246
3,V88046198,ACCNT,C,N,626,Y,156762.23,156762.23,0,2024-04-17 00:00:00.0,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND5941246
4,V88046198,ACCNT,C,N,627,Y,156762.23,156762.23,0,2024-04-18 00:00:00.0,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND5941246

In [4]:
print(df_interest_detail.shape)
print(df_result.shape)

(8297, 46)
(8297, 236)

In [5]:
df_interest_detail['entity_id']=df_result['acid_t'].values
df_interest_detail.head()

,entity_id,entity_type,interest_ind,interest_type,serial_num,entity_cre_flg,product,product_for_int_rate,diff_product,start_date,...,last_comp_amount_cr,int_appl_flg_cr,wtax_amount_scope_flg,itax_for_floor_limit_flg,wtax_pcnt,wtax_floor_limit,last_comp_tax,tax_amount,wtax_for_cr_comp,updated_at
0,AC76354668,ACCNT,C,N,620,Y,154440.65,154440.65,0,2024-04-11 00:00:00.0,...,0,,P,N,6,0,81.533221,2.824027,N,2024-07-30 09:10:10.576
1,AC76354668,ACCNT,C,N,624,Y,156762.23,156762.23,0,2024-04-15 00:00:00.0,...,0,,P,N,6,0,8.493304,2.844043,N,2024-07-30 09:10:10.576
2,AC76354668,ACCNT,C,N,625,Y,156762.23,156762.23,0,2024-04-16 00:00:00.0,...,0,,P,N,6,0,11.338206,2.844902,N,2024-07-30 09:10:10.576
3,AC76354668,ACCNT,C,N,626,Y,156762.23,156762.23,0,2024-04-17 00:00:00.0,...,0,,P,N,6,0,14.183968,2.845762,N,2024-07-30 09:10:10.576
4,AC76354668,ACCNT,C,N,627,Y,156762.23,156762.23,0,2024-04-18 00:00:00.0,...,0,,P,N,6,0,17.030590,2.846622,N,2024-07-30 09:10:10.576

In [6]:
df_interest_detail.to_csv("interest_details_table_masked.csv",index=False)