In [2]:
import pandas as pd
df_bankxp_req_info=pd.read_excel(r"request_info.xlsx")
df_bankxp_req_info.head()

,id,channel,is_used,module_id,booking_id,feature_id,merchant_id,request_type,requested_date,customer_login_id,txn_initiate_type,accessible_channel_id,updated_at
0,94,MOBILE,Y,NaN,9J9e=d7zRE7N0kNUNay5JWtYs3EFw==,5.0,NaN,NORMAL,"Row(member0=Timestamp('2022-03-21 05:57:02'), ...",143,NaN,2.0,2024-08-07 07:05:28.893
1,95,WEB,Y,NaN,3qlZcFLwCeuWsx/90ItvTCVGo4f8w==,27.0,NaN,NORMAL,"Row(member0=Timestamp('2022-03-24 03:36:03'), ...",154,NaN,2.0,2024-08-07 07:05:28.893
2,96,MOBILE,Y,NaN,OY2NiImGgK+ISkYDrOCPNYn/CKv9w==,5.0,NaN,NORMAL,"Row(member0=Timestamp('2022-03-24 03:56:00'), ...",157,NaN,2.0,2024-08-07 07:05:28.893
3,97,MOBILE,N,NaN,3Mc6mGGpYMQdB+KGdyvMfuXUdp6rw==,4.0,1.0,NORMAL,"Row(member0=Timestamp('2022-03-25 00:59:04'), ...",158,NaN,2.0,2024-08-07 07:05:28.893
4,98,MOBILE,N,NaN,nXkohxXCwZhfGbi5y++GwQecHe3jQ==,4.0,7.0,NORMAL,"Row(member0=Timestamp('2022-03-25 01:08:01'), ...",158,NaN,2.0,2024-08-07 07:05:28.893

In [3]:
df_bankxp_req_info_txn.to_csv("request_info_masked.csv",index=False)