In [31]:
import pandas as pd

In [32]:
df_cmg= pd.read_excel("cmg.xlsx")
df_cmg.head()

,_airbyte_ab_id,_airbyte_emitted_at,email,phone,cif_id,dsa_id,bank_id,corp_id,cust_id,del_flg,...,alt1_cust_middle_name,cust_introd_stat_code,preferential_cal_base,offline_cum_debit_limit,islamic_banking_customer,risk_profile_expiry_date,customer_level_provisioning,_airbyte_additional_properties,source_file_path,updated_at
0,b77d3f37-8432-4cf3-88f7-456ffea0dec3,2024-08-05 07:02:37.777,NaN,NaN,R02063811,NaN,1,NaN,02063811,N,...,NaN,WALK,0.0,0.0,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:35:04.217
1,f40081cb-e7cf-47c8-b660-41e73c805e85,2024-08-05 07:02:37.777,NaN,NaN,R66368828,NaN,1,NaN,66368828,N,...,NaN,EXICU,0.0,0.0,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:35:04.217
2,ec88ddde-b7f8-4cff-9df1-5d128e45acb8,2024-08-05 07:02:37.777,NaN,+977()5554758,R33297804,NaN,1,NaN,33297804,N,...,NaN,KNOWB,0.0,NaN,N,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:35:04.217
3,a289169c-5cbd-4d99-ada6-feac56123282,2024-08-05 07:02:37.777,NaN,NaN,R09396490,NaN,1,NaN,09396490,N,...,NaN,WALK,0.0,0.0,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:35:04.217
4,97aa72fe-2993-4f21-b3dd-21bd79cdc6cd,2024-08-05 07:02:37.777,NaN,NaN,R36283925,NaN,1,NaN,36283925,N,...,NaN,KNOWB,0.0,NaN,N,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:35:04.217

In [33]:
df_cmg = df_cmg.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)

df_cmg.head()

,email,phone,cif_id,dsa_id,bank_id,corp_id,cust_id,del_flg,gcif_id,negated,...,cust_sub_sector_code,alt1_cust_introd_name,alt1_cust_middle_name,cust_introd_stat_code,preferential_cal_base,offline_cum_debit_limit,islamic_banking_customer,risk_profile_expiry_date,customer_level_provisioning,updated_at
0,NaN,NaN,R02063811,NaN,1,NaN,02063811,N,NaN,N,...,NaN,NaN,NaN,WALK,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
1,NaN,NaN,R66368828,NaN,1,NaN,66368828,N,NaN,N,...,NaN,NaN,NaN,EXICU,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
2,NaN,+977()5554758,R33297804,NaN,1,NaN,33297804,N,NaN,N,...,NaN,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
3,NaN,NaN,R09396490,NaN,1,NaN,09396490,N,NaN,N,...,NaN,NaN,NaN,WALK,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
4,NaN,NaN,R36283925,NaN,1,NaN,36283925,N,NaN,N,...,NaN,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217

In [34]:
# df_cmg.rename(columns={'cif_id':'orgkey'},inplace=True)
# df_cmg.head()

In [35]:
df_account=pd.read_csv(r"..\account\account_masked.csv")
df_account.head()

,cif_id,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,education,pan,email,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND4568821,Duman,Narayan,Neupane,1989-11-25T00:00:00.000000,INDIVIDUAL,M,NaN,PAN714271279,duman492@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4568821
1,DLNIND7235296,Prajina,Devi,Maharjan,1971-05-05T00:00:00.000000,INDIVIDUAL,F,NaN,PAN503838478,prajina427@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7235296
2,DLNIND1406504,Humacanta,Bipin,Thapa,2005-05-18T00:00:00.000000,INDIVIDUAL,M,NaN,PAN668645879,humacanta862@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1406504
3,DLNLEG6218579,KHOTANG FOODS PVT. LTD.,NaN,NaN,2012-11-12T00:00:00.000000,LEGAL,NaN,NaN,PAN533918346,khotangfoods840@outlook.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG6218579
4,DLNIND1255130,Adarsh,Bhakta,Lama,1993-02-28T00:00:00.000000,INDIVIDUAL,M,NaN,PAN331700070,adarsh904@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1255130

In [37]:
df_result = pd.merge(df_cmg, df_account, left_on='cif_id',right_on='groupid',how='left',suffixes=('_p', '_a'))

df_result['cif_id_a'].head(5)

0              NaN
1              NaN
2    DLNIND2830344
3              NaN
4    DLNIND8738953
Name: cif_id_a, dtype: object

In [8]:
# df_result.columns.tolist()

In [38]:
print(df_cmg.shape)
print(df_result.shape)

(100, 97)
(100, 586)

In [39]:
df_cmg.sample(10)

,email,phone,cif_id,dsa_id,bank_id,corp_id,cust_id,del_flg,gcif_id,negated,...,cust_sub_sector_code,alt1_cust_introd_name,alt1_cust_middle_name,cust_introd_stat_code,preferential_cal_base,offline_cum_debit_limit,islamic_banking_customer,risk_profile_expiry_date,customer_level_provisioning,updated_at
95,CHHETRISIRJU1994@GMAIL.COM,NaN,R02275983,NaN,1,NaN,RC2266496,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:35:04.217
58,NaN,NaN,C00004453,NaN,1,76577.0,CC4453,N,NaN,NaN,...,16,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
36,NaN,NaN,R04006533,NaN,1,12434.0,04006533,N,NaN,NaN,...,10.4,NaN,NaN,EMPLO,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
28,NaN,NaN,R22132679,NaN,1,53213.0,22132679,N,NaN,NaN,...,1.5,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
31,NaN,NaN,R46253427,NaN,1,50114.0,46253427,N,NaN,N,...,16,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
38,NaN,NaN,R01001079,NaN,1,39229.0,01001079,N,NaN,N,...,10.4,NaN,NaN,EMPLO,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
32,NaN,NaN,319749297,NaN,1,NaN,319749297,N,NaN,N,...,NaN,NaN,NaN,ECT,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217
47,NaN,NaN,C00004434,NaN,1,76395.0,CC4434,N,NaN,NaN,...,16,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
67,NaN,NaN,C00012403,NaN,1,107375.0,CC12403,N,NaN,N,...,11.4,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217
63,arjunshrestha@hotmail.com,NaN,R00185654,NaN,1,NaN,RC185639,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217

In [40]:
df_cmg['cif_id']=df_result['cif_id_a'].values
df_cmg['email']=df_result['preferredemail'].values
df_cmg['phone']=df_result['preferredphone'].values
df_cmg['corp_id']=df_result['corp_id_a'].values
df_cmg['cust_sex']=df_result['gender'].values
df_cmg['cust_id']=df_result['core_cust_id'].values
df_cmg['cust_name']=df_result['name'].v
df_cmg['pan_gir_num']=df_result['pan']
df_cmg['ichg_userid']=df_result['bomodifiedby']
df_cmg['rcre_user_id']=df_result['bocreatedby']
df_cmg['date_of_birth']=df_result['cust_dob']
df_cmg['cust_hlth_code']=df_result['cust_health_ref_code']
df_cmg['cust_first_name']=df_result['cust_first_name_a']
df_cmg['cust_middle_name']=df_result['cust_middle_name_a']
df_cmg['cust_last_name']=df_result['cust_last_name_a']
df_cmg['cust_occp_code']=df_result['occupation']
df_cmg['nat_id_card_num']=df_result['nat_id_card_num_a']
df_cmg['cust_introd_name']=df_result['introducername']
df_cmg['cust_introd_cust_id']=df_result['introducerid']
df_cmg['bank_id']=df_result['bank_id_a']

In [41]:
df_cmg.sample(10)

,email,phone,cif_id,dsa_id,bank_id,corp_id,cust_id,del_flg,gcif_id,negated,...,alt1_cust_introd_name,alt1_cust_middle_name,cust_introd_stat_code,preferential_cal_base,offline_cum_debit_limit,islamic_banking_customer,risk_profile_expiry_date,customer_level_provisioning,updated_at,ichg_userid
72,suk997@gmail.com,+977-9896203248,DLNIND8726228,NaN,1.0,NaN,DLNIND8726228,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,402536.0
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,...,NaN,NaN,EMPLO,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,NaN
86,rolpaconstructions648@outlook.com,+977-9842731846,DLNLEG1337370,NaN,1.0,466911.0,DLNLEG1337370,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,405583.0
82,krishala796@gmail.com,+977-9898517468,DLNIND6814583,NaN,1.0,NaN,DLNIND6814583,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,402965.0
96,sindhuliagro348@outlook.com,+977-9823553126,DLNLEG2158354,NaN,1.0,1016985.0,DLNLEG2158354,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,2.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,N,...,NaN,NaN,KNOWB,0.0,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,NaN
12,lucy858@gmail.com,+977-9836125115,DLNIND5576304,NaN,1.0,NaN,DLNIND5576304,N,NaN,N,...,NaN,NaN,EMPLO,0.0,0.0,N,NaN,NaN,2024-08-07 06:35:04.217,402965.0
70,ronika219@gmail.com,+977-9854651417,DLNIND8690282,NaN,1.0,NaN,DLNIND8690282,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,2024-08-07 06:35:04.217,423687.0
66,kalyan791@gmail.com,+977-9817386347,DLNIND1138256,NaN,1.0,NaN,DLNIND1138256,N,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:35:04.217,2.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,N,...,NaN,NaN,EXICU,0.0,0.0,NaN,NaN,NaN,2024-08-07 06:35:04.217,NaN

In [13]:
df_cmg.to_csv("cmg_masked.csv",index=False)