In [32]:
import pandas as pd
df_imis= pd.read_excel("lmis.xlsx")
df_imis.head()

,nta,area,ftxt1,ftxt2,ftxt3,ftxt4,ftxt5,ftxt6,ftxt7,ftxt8,...,other_security_value,other_security_remark,stock_receivable_value,description_of_security,engine_number_of_vehicle,requirement_of_insurance,chasis_number_of_vechicle,credit_approving_authority,distress_value_of_security,updated_at
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:59:40.381
1,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,MCC,NaN,2024-08-07 06:59:40.381
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:59:40.381
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:59:40.381
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:59:40.381

In [33]:
df_crmuser_acc=pd.read_csv(r"../../crmuser/account/account_masked.csv")
df_crmuser_acc.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,marital_status,education,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND6894333,R01562055,Duman,Biren,Timalsina,1989-11-25T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND6894333
1,DLNIND4796847,R01911512,Prajina,Kumari,Pandey,1971-05-05T00:00:00.000000,INDIVIDUAL,F,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4796847
2,DLNIND9732261,R02944296,Humacanta,Prasad,Pandey,2005-05-18T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND9732261
3,DLNLEG6793870,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,2012-11-12T00:00:00.000000,LEGAL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG6793870
4,DLNIND7531716,R01651971,Adarsh,Kumar,Thakuri,1993-02-28T00:00:00.000000,INDIVIDUAL,M,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND7531716

In [29]:
df_imis['cif_id'].head()

0    R90504419
1    R09092002
2    800520784
3    RB1499113
4    R52273477
Name: cif_id, dtype: object

In [ ]:
df_result = pd.merge(left=df_imis,right=df_crmuser_acc,left_on='cif_id',right_on='orgkey',suffixes=('_p', '_a'))
df_result.head(10)

KeyError: 'cif_id'

In [26]:
print(df_imis.shape)
print(df_result.shape)

(52, 58)
(52, 548)

In [ ]:
df_imis['cif_id']=df_result['cif_id']
df_imis.head()

In [ ]:
df_imis.to_csv("c_loan_pen_int_masked.csv",index=False)